{% load i18n generic_fields friendly_data_formatting humanize generic_tag_tags %}
<tab_contents class="people_tags_tab">
<actions>
	<a href="{% url generic_tags:manage %}" class="mycelium_btn mycelium_small_btn mycelium_active_grey mycelium_tool_btn manage_tags_btn">Manage Tags</a>
</actions>
{% for ts in person.tagsets %}
<column>
	<div class="detail_header">
		{{ts.name}}
	</div>	
	<div class="tags_list">
	{% render_tags_as_checklist person ts.pk %}
	</div>
</column>
{% if forloop.counter|divisibleby:4 or forloop.last%}<div class="clearfix"></div>{% endif %}
{% endfor %}
</tab_contents>