.actions {
	padding: 20px 0px;
	clear: both;
}
.right_actions {
	clear: none;
	float: right;
}
.group_detail_column {
	width: 96%;
	margin: 0px 2%;
	/*float: left;*/
	display: block;
}
.group_members {
	margin-top: 10px;
	
}
.group_members .member_list {
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	
    -moz-box-sizing: border-box;
    -opera-sizing: border-box;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    box-sizing: border-box;

    border: 1px solid #DDD;

	overflow-y: scroll;
	height: 350px;
	/*width: 100%;*/
	text-align: left;
	margin: 4px 2px 0px 2px;

   
}
.group_members .members_table .result_row td {
	padding: 2px 5px;
}
.group_members .member_meta {
	font-size: 20px;
	text-align: left;
	padding-left: 4px;
}
.group_members .members_table {
	width: 100%;
}
.group_members .detail_header {
	padding-top: 10px;
}
.group_members .member_meta .count {
	font-weight: bold;
}
.basic_info, .basic_info input {
	font-size: 30px;
}
.group_rules .rule {
	padding: 5px;
}
.group_rules .rule input {
	width: 100px;
}
.group_rules .new_criterium {
	padding: 5px;
}
.group_rules_boolean_sentence {
 	margin: 8px 0px 6px 0px;	
}
.group_rules_boolean_sentence select {
	margin-top: -6px;
}
.basic_info #id_name {
	min-width: 150px;
}
rules .generic_field_label {
	display: none;
}
.group_rules_boolean_sentence .generic_field_label {
	display: none;
}
.group_rules_boolean_sentence .generic_editable_field {
	display: inline;
}
rules .generic_editable_field {
	display: inline;
}
rules rule {
	display: block;
	padding: 2px 0px 5px 10px;
}
rules rule.empty {
	display: none;
}
.edit_mode_off rules .remove_rule_btn {
	display: none;
}
rules .add-row {
	display: none;
}
.edit_mode_off .group_rules .new_criterium {
	display: none;
}