
.import_date .right_now {
}
.import_date .right_now img {
	vertical-align: text-top;
	margin: 2px 3px 0px 3px;
}
.data_import_history_table .action {
	text-align: left;
	padding-left: 15px;
}
.data_import_history_table .in_progress td {
	color: #999;
}

page_title {
	background-image: url("../images/icon-data-import-black-40h.png");
	background-repeat: no-repeat;
	background-position: 0px 0px;
	padding-left: 60px;
	padding-top: 5px;
	margin-bottom: 20px;
}
.new_import_btns {
	display: block;
	clear: none;
	margin-bottom: 10px;
}

.report_summary {
	
}


.total {
	font-size: 24px;
}
.result_header {
	margin-top: 6px;
	font-size: 24px;
	text-decoration: underline;
}
.result_data {
	padding: 0px 0px 4px 10px;
}
.result_data .result_data_line {
	padding: 2px;
}
.report_summary {
	padding: 0px 10px;
}
.start_data_import step {
	display: block;
	margin: 10px 0px 20px 0px;
}
.start_data_import step step_number {
	font-size: 40px;
	font-weight: bold;
	float: left;
	display: block;
	margin-right: 8px;
	height: 48px;
	width: 48px;
	text-align: center;
	border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	line-height: 44px;
	margin-top: -6px;
	background-color: #D4D4D4;
	color: #999;
}
.start_data_import step.active step_number {
	background-color: #004486;
	color: #FFF;

}
.start_data_import step instruction {
	display: block;
	width: 100%;
	font-size: 20px;
	padding: 7px 0px 6px 0px;
	margin: 0px 0px 10px 15px;
	background-color: #DDD;
	color: #999;
	border--radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;	
}
.start_data_import step.active instruction {
	background-color: #EEE;
	color: #004486;
}
.start_data_import step.active.current step_number {
	background-color: #004486;
	color: #FFF;
}
.start_data_import step.active.current instruction {
	background-color: #0058ae;
	color: #FFF;
}
.start_data_import step step_content, .start_data_import step pre_step_content  {
	display: block;
	padding: 7px 15px 5px 45px;
}
.start_data_import step pre_step_content {
	font-size: 18px;
	color: #999;
}
.easy_header {
	font-size: 18px;
	padding: 5px;
}
table.import_fields_confirmation td, table.import_fields_confirmation  th {
	text-align: center;
}

.choose_import_type step_content {
	font-size: 18px;
}
.choose_import_type .import_type_people label {
	background: url("../images/icon-person-grey-22h.png") no-repeat 0px 0px;
	padding: 0px 20px 4px 30px;
}
.choose_import_type .import_type_organizations label {
	background: url("../images/icon-business-grey-22h.png") no-repeat 0px 0px;
	padding: 0px 20px 4px 30px;
}
.choose_import_type .import_type_volunteer_hours label {
	background: url("../images/icon-volunteer-hours-grey-22h.png") no-repeat 0px 0px;
	padding: 0px 20px 4px 30px;
}
.choose_import_type .import_type_donations label {
	background: url("../images/icon-donation-grey-22h.png") no-repeat 0px 0px;
	padding: 0px 20px 4px 30px;
}
.choose_import_type .import_option.inactive label {
	color: #CCC;
}
.choose_import_type .import_option.active label {
	/*color: #000486;*/
}
.choose_import_type .import_type_people.active label {
	background-image: url("../images/icon-person-blue-22h.png");
}
.choose_import_type .import_type_organizations.active label {
	background-image: url("../images/icon-business-blue-22h.png");
}
.choose_import_type .import_type_volunteer_hours.active label {
	background-image: url("../images/icon-volunteer-hours-blue-22h.png");
}
.choose_import_type .import_type_donations.active label {
	background-image: url("../images/icon-donation-blue-22h.png");
}
step_instructions {
	display: block;
	padding: 0px 10px 10px 10px;
	color: #555;
}