@font-face {
	font-family: 'HattoriHanzoLight';
	src: url('../fonts/Hattori_Hanzo-webfont.eot');
	src: local(''), url('../fonts/Hattori_Hanzo-webfont.woff') format('woff'), url('../fonts/Hattori_Hanzo-webfont.ttf') format('truetype'), url('../fonts/Hattori_Hanzo-webfont.svg#webfontrd3huYzV') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HattoriHanzoLightItalic';
	src: url('../fonts/Hattori_Hanzo_Italic-webfont.eot');
	src: local(''), url('../fonts/Hattori_Hanzo_Italic-webfont.woff') format('woff'), url('../fonts/Hattori_Hanzo_Italic-webfont.ttf') format('truetype'), url('../fonts/Hattori_Hanzo_Italic-webfont.svg#') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ComfortaaThin';
	src: url('../fonts/Comfortaa_Thin-webfont.eot');
	src: local(''), url('../fonts/Comfortaa_Thin-webfont.woff') format('woff'), url('../fonts/Comfortaa_Thin-webfont.ttf') format('truetype'), url('../fonts/Comfortaa_Thin-webfont.svg#webfontGKD5inAq') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ComfortaaRegular';
	src: url('../fonts/Comfortaa_Regular-webfont.eot');
	src: local(''), url('../fonts/Comfortaa_Regular-webfont.woff') format('woff'), url('../fonts/Comfortaa_Regular-webfont.ttf') format('truetype'), url('../fonts/Comfortaa_Regular-webfont.svg#') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ComfortaaBold';
	src: url('../fonts/Comfortaa_Bold-webfont.eot');
	src: local(''), url('../fonts/Comfortaa_Bold-webfont.woff') format('woff'), url('../fonts/Comfortaa_Bold-webfont.ttf') format('truetype'), url('../fonts/Comfortaa_Bold-webfont.svg#') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ColaborateThinRegular';
	src: url('../fonts/ColabThi-webfont.eot');
	src: local(''), url('../fonts/ColabThi-webfont.woff') format('woff'), url('../fonts/ColabThi-webfont.ttf') format('truetype'), url('../fonts/ColabThi-webfont.svg#webfontcrb0Yhf3') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ColaborateLightRegular';
	src: url('../fonts/ColabLig-webfont.eot');
	src: local(''), url('../fonts/ColabLig-webfont.woff') format('woff'), url('../fonts/ColabLig-webfont.ttf') format('truetype'), url('../fonts/ColabLig-webfont.svg#') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ColaborateRegular';
	src: url('../fonts/ColabReg-webfont.eot');
	src: local(''), url('../fonts/ColabReg-webfont.woff') format('woff'), url('../fonts/ColabReg-webfont.ttf') format('truetype'), url('../fonts/ColabReg-webfont.svg#') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ColaborateMediumRegular';
	src: url('../fonts/ColabMed-webfont.eot');
	src: local(''), url('../fonts/ColabMed-webfont.woff') format('woff'), url('../fonts/ColabMed-webfont.ttf') format('truetype'), url('../fonts/ColabMed-webfont.svg#') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ColaborateBoldRegular';
	src: url('../fonts/ColabBol-webfont.eot');
	src: local(''), url('../fonts/ColabBol-webfont.woff') format('woff'), url('../fonts/ColabBol-webfont.ttf') format('truetype'), url('../fonts/ColabBol-webfont.svg#') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'CantarellRegular';
	src: url('../fonts/Cantarell-Regular-webfont.eot');
	src: local(''), url('../fonts/Cantarell-Regular-webfont.woff') format('woff'), url('../fonts/Cantarell-Regular-webfont.ttf') format('truetype'), url('../fonts/Cantarell-Regular-webfont.svg#webfontaI1yI6ue') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'CantarellOblique';
	src: url('../fonts/Cantarell-Oblique-webfont.eot');
	src: local(''), url('../fonts/Cantarell-Oblique-webfont.woff') format('woff'), url('../fonts/Cantarell-Oblique-webfont.ttf') format('truetype'), url('../fonts/Cantarell-Oblique-webfont.svg#') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'CantarellBold';
	src: url('../fonts/Cantarell-Bold-webfont.eot');
	src: local(''), url('../fonts/Cantarell-Bold-webfont.woff') format('woff'), url('../fonts/Cantarell-Bold-webfont.ttf') format('truetype'), url('../fonts/Cantarell-Bold-webfont.svg#') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'CantarellBoldOblique';
	src: url('../fonts/Cantarell-BoldOblique-webfont.eot');
	src: local(''), url('../fonts/Cantarell-BoldOblique-webfont.woff') format('woff'), url('../fonts/Cantarell-BoldOblique-webfont.ttf') format('truetype'), url('../fonts/Cantarell-BoldOblique-webfont.svg#') format('svg');
	font-weight: normal;
	font-style: normal;
}





.hi_text {
	padding: 60px 0px;
	width: 100%;
	text-align: center;
	font-size: 300px;
	font-family: HattoriHanzoLight;
}