@font-face {
	font-family: 'HattoriHanzoLight';
	src: url('../fonts/Hattori_Hanzo-webfont.eot');
	src: local(''), url('../fonts/Hattori_Hanzo-webfont.woff') format('woff'), url('../fonts/Hattori_Hanzo-webfont.ttf') format('truetype'), url('../fonts/Hattori_Hanzo-webfont.svg#webfontrd3huYzV') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HattoriHanzoLightItalic';
	src: url('../fonts/Hattori_Hanzo_Italic-webfont.eot');
	src: local(''), url('../fonts/Hattori_Hanzo_Italic-webfont.woff') format('woff'), url('../fonts/Hattori_Hanzo_Italic-webfont.ttf') format('truetype'), url('../fonts/Hattori_Hanzo_Italic-webfont.svg#') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ComfortaaThin';
	src: url('../fonts/Comfortaa_Thin-webfont.eot');
	src: local(''), url('../fonts/Comfortaa_Thin-webfont.woff') format('woff'), url('../fonts/Comfortaa_Thin-webfont.ttf') format('truetype'), url('../fonts/Comfortaa_Thin-webfont.svg#webfontGKD5inAq') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ComfortaaRegular';
	src: url('../fonts/Comfortaa_Regular-webfont.eot');
	src: local(''), url('../fonts/Comfortaa_Regular-webfont.woff') format('woff'), url('../fonts/Comfortaa_Regular-webfont.ttf') format('truetype'), url('../fonts/Comfortaa_Regular-webfont.svg#') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ComfortaaBold';
	src: url('../fonts/Comfortaa_Bold-webfont.eot');
	src: local(''), url('../fonts/Comfortaa_Bold-webfont.woff') format('woff'), url('../fonts/Comfortaa_Bold-webfont.ttf') format('truetype'), url('../fonts/Comfortaa_Bold-webfont.svg#') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ColaborateThinRegular';
	src: url('../fonts/ColabThi-webfont.eot');
	src: local(''), url('../fonts/ColabThi-webfont.woff') format('woff'), url('../fonts/ColabThi-webfont.ttf') format('truetype'), url('../fonts/ColabThi-webfont.svg#webfontcrb0Yhf3') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ColaborateLightRegular';
	src: url('../fonts/ColabLig-webfont.eot');
	src: local(''), url('../fonts/ColabLig-webfont.woff') format('woff'), url('../fonts/ColabLig-webfont.ttf') format('truetype'), url('../fonts/ColabLig-webfont.svg#') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ColaborateRegular';
	src: url('../fonts/ColabReg-webfont.eot');
	src: local(''), url('../fonts/ColabReg-webfont.woff') format('woff'), url('../fonts/ColabReg-webfont.ttf') format('truetype'), url('../fonts/ColabReg-webfont.svg#') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ColaborateMediumRegular';
	src: url('../fonts/ColabMed-webfont.eot');
	src: local(''), url('../fonts/ColabMed-webfont.woff') format('woff'), url('../fonts/ColabMed-webfont.ttf') format('truetype'), url('../fonts/ColabMed-webfont.svg#') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ColaborateBoldRegular';
	src: url('../fonts/ColabBol-webfont.eot');
	src: local(''), url('../fonts/ColabBol-webfont.woff') format('woff'), url('../fonts/ColabBol-webfont.ttf') format('truetype'), url('../fonts/ColabBol-webfont.svg#') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'CantarellRegular';
	src: url('../fonts/Cantarell-Regular-webfont.eot');
	src: local(''), url('../fonts/Cantarell-Regular-webfont.woff') format('woff'), url('../fonts/Cantarell-Regular-webfont.ttf') format('truetype'), url('../fonts/Cantarell-Regular-webfont.svg#webfontaI1yI6ue') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'CantarellOblique';
	src: url('../fonts/Cantarell-Oblique-webfont.eot');
	src: local(''), url('../fonts/Cantarell-Oblique-webfont.woff') format('woff'), url('../fonts/Cantarell-Oblique-webfont.ttf') format('truetype'), url('../fonts/Cantarell-Oblique-webfont.svg#') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'CantarellBold';
	src: url('../fonts/Cantarell-Bold-webfont.eot');
	src: local(''), url('../fonts/Cantarell-Bold-webfont.woff') format('woff'), url('../fonts/Cantarell-Bold-webfont.ttf') format('truetype'), url('../fonts/Cantarell-Bold-webfont.svg#') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'CantarellBoldOblique';
	src: url('../fonts/Cantarell-BoldOblique-webfont.eot');
	src: local(''), url('../fonts/Cantarell-BoldOblique-webfont.woff') format('woff'), url('../fonts/Cantarell-BoldOblique-webfont.ttf') format('truetype'), url('../fonts/Cantarell-BoldOblique-webfont.svg#') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ExpresswayRegular';
	src: url('../fonts/expressway_rg-webfont.eot');
	src: local(''), url('../fonts/expressway_rg-webfont.woff') format('woff'), url('../fonts/expressway_rg-webfont.ttf') format('truetype'), url('../fonts/expressway_rg-webfont.svg#webfont') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'FontinSansRegular';
	src: url('../fonts/fontin_sans_r_45b-webfont.eot');
	src: local(''), url('../fonts/fontin_sans_r_45b-webfont.woff') format('woff'), url('../fonts/fontin_sans_r_45b-webfont.ttf') format('truetype'), url('../fonts/fontin_sans_r_45b-webfont.svg#webfontCPGluQN9') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FontinSansBold';
	src: url('../fonts/fontin_sans_b_45b-webfont.eot');
	src: local(''), url('../fonts/fontin_sans_b_45b-webfont.woff') format('woff'), url('../fonts/fontin_sans_b_45b-webfont.ttf') format('truetype'), url('../fonts/fontin_sans_b_45b-webfont.svg#webfontKVT2dh5P') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FontinSansBoldItalic';
	src: url('../fonts/fontin_sans_bi_45b-webfont.eot');
	src: local(''), url('../fonts/fontin_sans_bi_45b-webfont.woff') format('woff'), url('../fonts/fontin_sans_bi_45b-webfont.ttf') format('truetype'), url('../fonts/fontin_sans_bi_45b-webfont.svg#webfontMJUB6xX4') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FontinSansItalic';
	src: url('../fonts/fontin_sans_i_45b-webfont.eot');
	src: local(''), url('../fonts/fontin_sans_i_45b-webfont.woff') format('woff'), url('../fonts/fontin_sans_i_45b-webfont.ttf') format('truetype'), url('../fonts/fontin_sans_i_45b-webfont.svg#webfont3geGagNS') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FontinSansSmallCaps';
	src: url('../fonts/fontin_sans_sc_45b-webfont.eot');
	src: local(''), url('../fonts/fontin_sans_sc_45b-webfont.woff') format('woff'), url('../fonts/fontin_sans_sc_45b-webfont.ttf') format('truetype'), url('../fonts/fontin_sans_sc_45b-webfont.svg#webfontaXJUObFg') format('svg');
	font-weight: normal;
	font-style: normal;
}




html {
	-webkit-font-smoothing: antialiased;

}
body {
	border: 0px;
	padding: 0px;
	margin: 0px;
	font-family: 'ExpresswayRegular', Arial, sans-serif;
}
table {
	border-collapse: collapse;
	padding: 0px;
	margin: 0px;
}

#hi_content {
	display: block;
	height: 630px;
	overflow: hidden;
	text-align: center;
	width: 100%;
}
.hi_text {
	padding: 30px 0px 40px 0px;

	font-size: 300px;
	font-family: 'ExpresswayRegular', Arial, sans-serif;
	color: #222;
	text-shadow:		 2px 2px 2px #CCC;
	-moz-text-shadow:    2px 2px 2px #CCC;
	-webkit-text-shadow: 2px 2px 2px #CCC;	
}
.welcome_text {
	padding: 20px 0px 0px 0px;
	width: 100%;
	text-align: center;
	font-size: 100px;
	font-family: 'ExpresswayRegular', Arial, sans-serif;
	color: #999;
}

#question {
	padding: 20px;
	font-size: 36px;
}
a {
	color: #004486;
}
a:hover {
	color: #004390;	
}
#answer {
	margin: 0px auto;
	font-size: 40px;
	width: 70%;
}
.more_info {
	padding: 30px 0px 20px 0px;
	margin-top: 0px;
	color: #454545;
	font-size: 25px;
}
#answer p {
	margin-top: 0px;
}
.email_terms {
	margin-top: 6px;
	color: #454545;
	font-size: 16px;
}

input {
	font-size: 20px;
	padding: 6px;
}
/*input, textarea {outline-style:none;}*/
#id_email {
	width: 400px;
	background: #FEFEFE;
	border: #6D8CAD 1px solid;
}
#id_email.hovered {
	border: #00489C 1px solid;
	background: #FFF;
}
#id_email.prefilled.tv-focused, #id_email.prefilled.tv-changed {
	color: #222;
}
#id_email.prefilled {
	color: #AAA;
}
#id_email.hovered.prefilled {
	color: #666;
}

#id_submit {
	border: 0px solid #EEE;
	background-color: #EEE;
	padding: 6px 20px;

	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	
    -moz-box-sizing: border-box;
    -opera-sizing: border-box;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
	white-space:nowrap;

	
/*	background: url("../images/submitback.gif");*/
	background-color: #004486;
	background-repeat: repeat-x;
	
	color: #EEE;
	text-shadow:		 1px 1px -1px #0355aa;
	-moz-text-shadow:    1px 1px -1px #0355aa;
	-webkit-text-shadow: 1px 1px -1px #0355aa;
	cursor: pointer;
}
#id_submit.hovered {
	background-color: #0040C2;
	color: #FFF;
/*	background: url("../images/submitback-hover.gif");*/
}
.thanks_message {
	padding: 20px;
	color: #004486;	
	font-size: 30px;
}

#logo {
	display: block;
	position: absolute;	
	top: 0px;
	left: 10px;
	font-size: 45px;
	color: #FFF;
	text-shadow:		 1px 1px 1px #06381C;
	-moz-text-shadow:    1px 1px 1px #06381C;
	-webkit-text-shadow: 1px 1px 1px #06381C;
	height: 70px;
	
/*	padding-left: 90px;*/
/*	background: url("../images/goodcloud-logo-40.png");*/

	padding-left: 60px;
	background: url("../images/goodcloud-logo2-40.png");	
	background-position: 5px 5px;
	background-repeat: no-repeat;
}
#logo small {
	font-size: 36px;
}
#main_nav {
	display: block;
	position: absolute;	
	top: 0px;
	right: 4%;
	width: auto;
	height: 40px;
	background: #EEE;
	border-bottom-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-bottom-left-radius: 4px;	
	border-bottom-right-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-right-radius: 4px;	

    overflow: hidden;
}
#main_nav a {
	text-decoration: none;
	border-right: 1px solid #DDD;
	border-bottom: 4px solid #BBB;
	border-top-width: 0px;
	font-size: 23px;
	padding: 6px 20px 4px 20px;
	margin: 0px;
	display: block;
	float: left;

}
#main_nav a.current {
	border-bottom: 4px solid #3E9CFD;
}

#page {
	display: block;
	margin: 80px auto;
	width: 92%;
	
	background: #FFF;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	
    -moz-box-sizing: border-box;
    -opera-sizing: border-box;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    box-sizing: border-box;
	border: 1px solid #AAA;
	padding: 4px;
	color: #333;
}

input.prefilled.tv-focused, input.prefilled.tv-changed {
	color: #222;
}
input.prefilled {
	color: #AAA;
}
input.hovered.prefilled {
	color: #666;
}
input.prefilled.tv-focused {
	border: 2px solid #0355aa;
}