
save_status_and_button {
	padding-top: 8px;
}
save_status_and_button a, save_status_and_button .save_info {
	display: block;
	float: right;
	margin-left: 10px;
}
save_status_and_button .save_and_status_btn {
	display: none;
	width: 70px;
	text-align: center;
}
save_status_and_button .edit_done_btn {
	display: none;	
}
save_status_and_button .edit_contact_done_btn {
	display: none;	
}
save_status_and_button .save_info {
	padding-top: 10px;
	margin-right: 10px;
}
#basic_info_form save_status_and_button a.mycelium_active_grey {
	font-size: 17px;
	padding: 7px 11px 5px 11px;
}
#user_access_table {
	width: 100%;
}
#user_access_table td {
	padding: 4px;
}
#user_access_table .access_level ul {
	list-indent: 0px;
}
#user_access_table .access_level li {
	/*display: block;
	float: left;*/
	display: inline;
	padding: 4px;
	margin: 0px auto;
	text-decoration: none;
	list-style: none;
}
#user_access_table .access_level .fields {
	display: block;
	margin: 0px auto;
	width: auto;
}
#user_access_table .access_level {
	text-align: center;
}
.form_section {
	display: block;
	padding: 20px 0px;
}
.form_section section_label {
	display: block;
	margin-bottom: 10px;
	/*font-weight: bold;*/
	font-size: 18px;
}
.form_section.access_level .generic_field_label {
	display: none;
}
#add_a_user_box {
	margin-top: 10px;
}
.edit_mode_on .form_section  input {
	/*border-color: #AAA;*/
	background: transparent;
}
.edit_mode_on .form_section .generic_field_label {
	margin-top: 8px;
	color: #777;
}
form_actions input.mycelium_btn {
	padding: 6px 12px;
	border: 0px;
}
.edit_mode_on .form_section .generic_editable_field {
	min-width: 1002x;
	margin-left: 10px;
}
.edit_mode_on .form_section .generic_editable_field input {
	min-width: 80px;
}
.all_fields_message {
	display: inline;
	margin-left: 10px;
	margin-top: 4px;
	color: #888;
}
tabbed_box box_content {
	background-color: #F4F4F4;
}
#container_id_first_name input {
	min-width: 120px;
}
#container_id_email input {
	min-width: 120px;
}