body {
	background-color: #0060b9;
	background-image: url("../images/marketing-background-stripes-3.jpg");	
	background-repeat: no-repeat;
	background-position: 50% 6%;
	position: relative;
}

#nav_and_logo_container {
	width: 100%;
	display: block;
	/*background: #000486;*/
	position: absolute;	
	top: 0px;
	right: 0px;
	background: rgba(0, 4, 134, 0.9);
}
#main_nav {
	display: block;
	float: right;
	
	height: 60px;
	
	
	padding: 20px 4px 0px 40%;
    overflow: hidden;
    border: #000 1px solid;
    border-width: 0px 0px 1px 0px;
}
#main_nav a {
	text-decoration: none;
/*	border-right: 1px solid #EEE;
	border-bottom: 4px solid #BBB;
	border-top-width: 0px;
*/
	font-size: 20px;

	padding: 4px 20px 4px 20px;
	margin: 0px;
	display: block;
	float: left;
	color: #cee0f1;

}
#main_nav a.first {
/*	border-left: 1px solid #EEE;	*/
/*	border-bottom-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-bottom-left-radius: 4px;	
*/}
#main_nav a.last {
	border-right: 0px solid #EEE;		
/*	border-bottom-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-bottom-left-radius: 4px;	*/
}
#main_nav a.current {
	color: #FFF;
	background-color: #002dab;
	border-radius: 4px;
	-moz-border-radius: 4px;
	/*border-bottom: 4px solid #3E9CFD;*/
}
#main_nav a:hover {
	color: #FFF;
}


#logo {
	display: block;
	position: absolute;	
	top: 4px;
	left: 10px;
	font-size: 50px;
	color: #FFF;
/*	text-shadow:		 1px 1px 1px #0054A4;
	-moz-text-shadow:    1px 1px 1px #0054A4;
*/
	height: 70px;
	
	padding-left: 110px;
	padding-top: 3px;
	background: url("../images/goodcloud-logo-55.png");


/*	padding-left: 60px;*/
/*	background: url("../images/goodcloud-logo2-40.png");	*/
	background-position: 5px 3px;
	background-repeat: no-repeat;
	text-decoration: none;
	z-index: 100;
}

#home_layout_block {
	padding-top: 100px;
	width: 100%;
	clear: both;
}
#home_layout_columns {
/*	position: absolute;*/
	width: 100%;
	clear: both;

}

#goodcloud_hearts_nonprofits {
	font-size: 100px;
	color: #000;
	width: 47%;
	text-align: left;
	padding: 80px 0px 0px 5%;
	vertical-align: top;
	position: relative;

}
#home_right_content {
	color: #222;
	font-size: 30px;
	font-family: 'ExpresswayRegular', Arial, sans-serif;
	width: 53%;
	padding-right: 3%;
	vertical-align: top;
}


#goodcloud_hearts_nonprofits .goodcloud {

}
#goodcloud_hearts_nonprofits .we {
	padding-right: 0.2em;
}
#goodcloud_hearts_nonprofits .verbs {
	position: relative;
	width: 300px;
	top: 0px;
}
#goodcloud_hearts_nonprofits .verbs .verb {
	position: absolute;
	top: 0px;
	left: 0px;
}
#goodcloud_hearts_nonprofits .heart {
	color: #E10001;
	font-size: 1.4em;
	line-height: 0.9em;
	font-family: Helvetica;
}
#goodcloud_hearts_nonprofits .verb_2, #goodcloud_hearts_nonprofits .verb_3, #goodcloud_hearts_nonprofits .verb_4 {
	display: none;
}
#goodcloud_hearts_nonprofits .serve {
	display: none;
}
#goodcloud_hearts_nonprofits .hearts .heart_s {
	display: none;
	font-size: 80px;
	color: #000;
}
.welcome_text {
	padding: 20px 0px 0px 0px;
	width: 100%;
	text-align: center;
	font-size: 100px;
	color: #999;
}

.email_terms {
	margin-top: 6px;
	color: #454545;
	font-size: 16px;
}

input {
	font-size: 20px;
	padding: 6px;
}
/*input, textarea {outline-style:none;}*/
#id_email {
	width: 400px;
	background: #FEFEFE;
	border: #6D8CAD 1px solid;
}
#id_email.hovered {
	border: #00489C 1px solid;
	background: #FFF;
}
#id_email.prefilled.tv-focused, #id_email.prefilled.tv-changed {
	color: #222;
}
#id_email.prefilled {
	color: #AAA;
}
#id_email.hovered.prefilled {
	color: #666;
}

#id_submit {
	border: 0px solid #EEE;
	background-color: #EEE;
	padding: 6px 20px;

	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	
    -moz-box-sizing: border-box;
    -opera-sizing: border-box;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
	white-space:nowrap;

	
/*	background: url("../images/submitback.gif");*/
	background-color: #004486;
	background-repeat: repeat-x;
	
	color: #EEE;
	text-shadow:		 1px 1px -1px #0355aa;
	-moz-text-shadow:    1px 1px -1px #0355aa;
	-webkit-text-shadow: 1px 1px -1px #0355aa;
	cursor: pointer;
}
#id_submit.hovered {
	background-color: #0040C2;
	color: #FFF;
/*	background: url("../images/submitback-hover.gif");*/
}
.thanks_message {
	color: #004486;	
/*	font-size: 30px;*/
	
}


.more_info {
/*	padding: 30px 0px 20px 0px;*/
	margin-top: 0px;
	color: #454545;
	font-size: 25px;
}

#page_content {
	padding: 100px 10%;
	font-size: 20px;
	color: #333;
}
#page_content h1, #page_content h2 {
	font-weight: normal;
}
#page_content h1 {
	margin: 20px 0px 30px 0px;
	text-align: center;
	color: #000;
	font-size: 40px;
}
#page_content h2 {
	margin-top: 10px;
	margin-bottom: 0px;
	color: #004486;
	font-size: 30px;
}
#page_content p {
	margin-top: 0px;
}


.employee {
	display: block;
	padding: 40px 10%;
	padding-top: 0px;
	position: relative;
	width: 80%;
	z-index: 999;
}

.picture_frame {
	display: block;
	width: 30%;
	height: 200px;
	left: 0%;
	top: 20px;
	position: absolute;
	background: url("../images/bio-picture-bubble.png");
	background-repeat: no-repeat;
	background-position: 0px 0px;
	z-index: 1001;
	clear: none;
	
}
.picture_frame .picture {
	width: 149px;
	height: 149px;	
	margin: 6px;
	border-radius: 75px;
	-moz-border-radius: 75px;
	overflow: hidden;
	background-clip: border-box;
  	-moz-box-sizing: border-box;
    -opera-sizing: border-box;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    box-sizing: border-box;
}

.bio {
	font-size: 18px;
	clear: none;
	position: relative;
	display: block;
	top: 0px;
	left: 25%;
	margin-left: -4px;
	width: 80%;
	padding: 7px 20px 10px 20px;
	background-color: #FFF;
	border-radius: 12px;
	-moz-border-radius: 12px;
	border: 4px solid #60C6FD;
	z-index: 1000;	
}
.bio .name {
	margin: 0px;
	font-size: 24px;
	color: #004486;
}
#footer {
	width: 100%;
	display: block;
	padding: 10px 0px;
	text-align: center;
	clear: both;
	font-size: 14px;
	color: #0060b9;
}
#footer a {
	color: #399df8;
}
#footer a:hover {
	color: #3B5672;
}
social_links {
	padding: 10px;
	margin-top: 20px;
	text-align: center;
	display: block;
}
#home_boxes {
	position: absolute;
	top: 450px;
	overflow: visible;
	padding: 0px;
	margin: 0px;
	width: 100%;
}
#home_boxes .home_box {
	display: block;
	width: 29%;
	margin: 0px 2% 0px 2%;
	float: left;
	/*height: 140px;*/

	background-color: #006bcf;
	padding: 0px;
	border-radius: 		6px;
	-moz-border-radius: 6px;

	box-shadow: 		2px 2px 4px rgba(0,0,0,0.35);
  	-moz-box-shadow:	2px 2px 4px rgba(0,0,0,0.35);
  	-khtml-box-shadow: 	2px 2px 4px rgba(0,0,0,0.35);
  	-webkit-box-shadow: 2px 2px 4px rgba(0,0,0,0.35);
  	background-color: #EEE;
}
#home_boxes .home_box.loved_by {
	width: 30%;
}
#home_boxes .home_box .title {
	background-color: #000486;
	color: #FFF;
	padding: 6px 6px 6px 10px;
	border-top-right-radius: 6px;
  	-moz-border-radius-topright: 6px;
  	border-top-left-radius: 6px;
  	-moz-border-radius-topleft: 6px;
  	font-size: 18px;
}
#home_boxes .home_box .description {
	padding: 10px 10px 0px 10px;

}
#home_boxes .home_box .action {
	text-align: right;
	padding: 10px;
}
#home_boxes .home_box.built_for_nonprofits .description {
	background: url("../images/chat-48.png");
	background-repeat: no-repeat;
	background-position: 10px 12px;	
	padding-left: 70px;
}
#home_boxes .home_box.loved_by .description {
	background: url("../images/heart-48.png");
	background-repeat: no-repeat;
	background-position: 10px 12px;	
	padding-left: 70px;
}
#home_boxes .home_box.ready_to_go .description {
	background: url("../images/magic-48.png");
	background-repeat: no-repeat;
	background-position: 10px 12px;	
	padding-left: 70px;
}