logo {
	display: block;
	position: absolute;	
	top: 0px;
	left: 10px;
	font-size: 45px;
	color: #FFF;
	text-shadow:		 1px 1px 1px #06381C;
	-moz-text-shadow:    1px 1px 1px #06381C;
	-webkit-text-shadow: 1px 1px 1px #06381C;
	height: 70px;
	
	padding-left: 90px;
	background: url("../images/goodcloud-logo-40.png");

/*	padding-left: 60px;*/
/*	background: url("../images/goodcloud-logo2-40.png");	*/
	background-position: 5px 5px;
	background-repeat: no-repeat;
}
logo small {
	font-size: 36px;
}


main_nav {
	display: block;
	position: absolute;	
	top: 0px;
	right: 4%;
	width: auto;
	height: 40px;
	background: #EEE;
	border-bottom-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-bottom-left-radius: 4px;	
	border-bottom-right-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-right-radius: 4px;	

    overflow: hidden;
}
main_nav a {
	text-decoration: none;
	border-right: 1px solid #DDD;
	border-bottom: 4px solid #BBB;
	border-top-width: 0px;
	font-size: 23px;
	padding: 6px 20px 4px 20px;
	margin: 0px;
	display: block;
	float: left;

}
main_nav a.current {
	border-bottom: 4px solid #3E9CFD;
}

footer {
	text-align: center;
	color: #FFF;
}
footer img {
	vertical-align: text-bottom;
	margin: 0px 3px;
}
footer a {
	color: #EEE;
	text-decoration: none;
}
footer a:hover {
	color: #FFF;
	text-decoration: none;
}
page_title {
	display: block;
	font-size: 30px;
	margin-bottom: 8px;
}
page_title img {
	vertical-align: text-top;
	margin-right: 8px;
}
record_list {
	padding: 20px 10px;
}

breadcrumb {
	display: block;
	padding-bottom: 15px;
}
form_actions {
	display: block;
	clear: both;
	width: 100%;
	padding: 20px 10px 0px 10px;	
}
add_another {
	display: block;
	clear: both;
	width: 100%;
	padding-top: 20px;
}
.hidden {
	display: none;
}
#page {
	display: block;
	margin: 80px auto;
	width: 92%;
	
	background: #FFF;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	
    -moz-box-sizing: border-box;
    -opera-sizing: border-box;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    box-sizing: border-box;
	border: 1px solid #AAA;
	padding: 20px;
	color: #333;
}

.mycelium_btn, input.mycelium_btn {
	border: 1px solid #004486;
	background-color: #004486;
	color: #FFF;
	font-size: 18px;
	padding: 5px 11px;
	text-decoration: none;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	cursor: pointer;
/*	box-shadow:		 	1px 1px 2px #454545;
	-moz-box-shadow:    1px 1px 2px #454545;
	-webkit-box-shadow: 1px 1px 2px #454545;
*/
}
.mycelium_btn:hover, input.mycelium_btn:hover {
	background-color: #004390;
	color: #FFF;	
}
.mycelium_small_btn {
	font-size: 12px;
	padding: 3px 6px;
}

.mycelium_gray, .mycelium_grey, input.mycelium_gray, input.mycelium_grey {
	border-color: #EEE;
	background-color: #EEE;
	color: #999;
}
.mycelium_gray:hover, .mycelium_grey:hover {
	border-color: #DDD;
	background-color: #DDD;
	color: #454545;
}
.mycelium_left_arrow_btn, .mycelium_left_arrow_btn:hover {
	padding: 5px 12px 5px 25px ;
	background-color: transparent;
	background-image: url("../images/mycelium-left-button-grey-28.png");
	background-position: 0px 50%;
	background-repeat: no-repeat;
	color: #284E72;
	border: 1px solid #d8d8d8;
	border-width: 0px 1px 0px 0px;
}
.mycelium_left_arrow_btn:hover {
	color: #004390;
}

table.record_table {
	width: 100%;
	margin-top: 10px;
}
table.record_table th {
	text-align: left;
	background-color: #EEE;
}
table.record_table td {
	padding: 2px;
}