.mycelium_btn {
	background-color: #004486;
	color: #FFF;
	font-size: 18px;
	padding: 6px 12px;
	text-decoration: none;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
/*	box-shadow:		 	1px 1px 2px #454545;
	-moz-box-shadow:    1px 1px 2px #454545;
	-webkit-box-shadow: 1px 1px 2px #454545;
*/
}
.mycelium_btn:hover {
	background-color: #004390;
	color: #FFF;	
}

.myelium_gray {
	background-color: #EEE;
	color: #999;
}
.myelium_gray:hover {
	background-color: #DDD;
	color: #454545;
}
.mycelium_left_arrow_btn, .mycelium_left_arrow_btn:hover {
	padding: 5px 12px 5px 25px ;
	background-color: transparent;
	background-image: url("../images/mycelium-left-button-grey-28.png");
	background-position: 0px 50%;
	background-repeat: no-repeat;
	color: #284E72;
	border: 1px solid #d8d8d8;
	border-width: 0px 1px 0px 0px;
}
.mycelium_left_arrow_btn:hover {
	color: #004390;
}
