tab_contents.people_tags_tab .tags_list tags fragment {
	display: block;
}
tab_contents.people_tags_tab tag.new_checkbox_tag {
	padding-top: 5px;
}
tab_contents.people_tags_tab tag.checkbox {
	color: #777;
}
tab_contents.people_tags_tab tag.checkbox.checked {
	color: #000;
/*	background-color: #000486;
	color: #FFF;
*/
}
tab_contents.people_tags_tab column {
	width: 23%;
	margin-right: 2%;
}
tab_contents.people_tags_tab column .detail_header {
	width: 96%;
	position: relative;
}
tab_contents.people_tags_tab tags {
	width: 90%;
/*	border: 1px solid #DDD;
	padding-bottom: 4px;
	box-shadow: 		inset 1px -1px 2px rgba(0,0,0,0.25);
	-moz-box-shadow: 	inset 1px -1px 2px rgba(0,0,0,0.25);
	-khtml-box-shadow: 	inset 1px -1px 2px rgba(0,0,0,0.25);
	-webkit-box-shadow: inset 1px -1px 2px rgba(0,0,0,0.25);	

 	border-radius: 4px;
 	-moz-border-radius: 4px;
 	-webkit-border-radius: 4px;		

 	border-top-left-radius: 0px;
	-moz-border-radius-topleft: 0px;
	-webkit-border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	-moz-border-radius-topright: 0px;
*/
	margin-bottom: 20px;
}
tab_contents.people_tags_tab tag name {
	white-space: normal;
}
.new_category_block {
	padding: 40px 10% 40px 0px;
	text-align: center;
}
tab_contents.people_tags_tab .actions {
	padding:  20px 0px;
}
