body {
	background: url("../images/green_tweed_background.gif");
}
input {
	border: 1px solid #DDD;
	padding: 0px;
	margin: 0px;
}
input:focus {
	outline-style:none;
	border: 1px solid #3E9CFD;
}
#page {
	padding: 4px;
}
#id_search_query {
	width: 72%;
	margin: 6px 0px;
	padding: 4px;
	border: 2px solid #DDD;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	padding-left: 36px;
	font-size: 24px;
	background-image: url("../images/search-24.png");
	background-position: 4px 6px;
	background-repeat: no-repeat;
	outline-style:none;
}
#id_search_query:focus {
	border: 2px solid #3E9CFD;
	margin: 6px 0px;
}
.main_search_box {
	text-align: left;
	margin-left: 6px;
}
.main_search_box .new_person_btn {
	margin-top: 10px;
	margin-right: 10px;
	float: right;
}

.main_search_box label {
	font-size: 24px;
}
.search_results {
	width: 100%;
}
.result_row {
	padding: 10px;
}
.result_row.even {
	background-color: #F2F2F2;
}
.results_table {
	width: 98%;
	border-collapse: collapse;
	padding: 0px;
	margin: 3px 1%;
	font-size: 20px;
}
.results_table th {
	text-align: left;
/*	background-color: #0355aa;
	color: #FFF;*/
}
.results_table td {
	padding: 5px;
}
.results_table .name {
	width: 70%;
}
.results_table .phone {
	width: 30%;
}
#page_header {
	padding: 10px 5px;
}

#page_header .mycelium_left_arrow_btn {
	float: left;
	margin: 1px 0px 0px 6px;

}

/*  switch  */
.switch {
	display: block;
	clear: none;
	margin-left: 10px;
	cursor: pointer;
	position: relative;
}
.switch .left_label {
	float: left;
	font-size: 26px;
	margin-right: 8px;
	margin-top: 1px;
}
.switch .switch_box {
	float: left;
	display: block;
	margin-top: 4px;
	width: 100px;
	height: 30px;
	border: 0px solid #AAA;
}
.switch .switch_box .left_switch, .switch .switch_box .right_switch {
	float: left;
	width: 50px;
	text-align: center;
	height: 22px;
	padding: 3px 0px 5px 0px;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
	display: none;

}
.switch .switch_box.off {
	background-image: url("../images/switch-off.png");
	background-repeat: no-repeat;
}
.switch .switch_box.on {
	background-image: url("../images/switch-on.png");
	background-repeat: no-repeat;
}


.switch .switch_box.off .left_switch {
	background-color: #CCC;
	color: #CCC;
	width: 49px;	
	border-right: 1px solid #888;
}
.switch .switch_box.off .right_switch {

	background-color: #AAA;
	color: #0355aa;
}
.switch .switch_box.on .left_switch {
	background-color: #FFB566;
	color: #F3660B;
}
.switch .switch_box.on .right_switch {
	background-color: #CCC;
	color: #CCC;
}
.switch .right_label {
	float: left;
}



.small_search {
	float: right;
}
.small_search #id_page_top_search {
	font-size: 18px;
	margin: 0px;
	padding: 4px 4px;
	border: 2px solid #DDD;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	width: 300px;
	padding-left: 40px;

	background-image: url("../images/search-24.png");
	background-position: 4px 4px;
	background-repeat: no-repeat;
}
.name_phone_email {
	display: block;
	width: 50%;
	float: left;
	clear: none;
}
.address {
	display: block;
	width: 45%;
	margin-right: 5%;
	float: right;
}

.basic_info {
	display: block;
	position: relative;
	clear: both;
	margin-top: 10px;
	width: 100%;
	padding: 20px 2%;
	font-size: 20px;
}
.basic_info.edit {
	display: none;
}
.basic_info .name, .basic_info .name input {
	font-size: 30px;
}
.basic_info .name input {
	width: 150px;
}
.basic_info.edit .form_field {
	margin: 0px;
	border: 0px solid #EEE;
}
.basic_info.view .form_field {
/*	margin: 1px;*/
	border: 1px solid #FFF;
}

.basic_info .name {
	display: block;
}
.basic_info  .generic_editable_field {
	display: block;
}
.basic_info .name .generic_editable_field {
	display: inline;
}
.basic_info .name_phone_email .name .generic_editable_field input {
	min-width: 20%;
}

.basic_info .name_phone_email .generic_editable_field input {
	min-width: 30%;
}
#container_id_line_1 input, #container_id_line_2 input{
	min-width: 70%;
}
.additional_information {
	padding-top: 15px;
	clear: both;
}
.view_field {
	border: 1px solid #FFF;
}

#container_id_city, .city_state_zip .city_state_comma, #container_id_state, #container_id_postal_code {
	display: block;
	float: left;
	width: auto;
}
.edit_mode_on #container_id_city .edit_field, .edit_mode_on #container_id_state .edit_field, .edit_mode_on #container_id_postal_code .edit_field {
	margin-bottom: 0px;
}
.edit_mode_on .city_state_zip .city_state_comma {
	margin-top: 15px;
}
#container_id_state, #container_id_postal_code {
	margin-left: 5px;
}
#container_id_city input {
	min-width: 100px;
}
#container_id_state {
/*	min-width: 20px;*/
}
#container_id_postal_code {
/*	min-width: 50px;*/
}






#detail_tabs {
	width: 98%;
	margin: 0px auto;
	text-align: center;
	height: 49px;
	clear: both;
}
#detail_tabs a.detail_tab {
	display: block;
	float: left;
	border: 1px solid #DDD;
	border-top-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-webkit-border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-top-right-radius: 4px;
	margin: 4px 5px 0px 5px;
	padding: 10px;
	text-decoration: none;
	font-size: 20px;
	background-color: #F8F8F8;
	color: #BBB;
	border-bottom-width: 0px;
}
#detail_tabs a.detail_tab.current {
	background-color: #FFF;
	color: #0355aa;
	padding: 14px 12px 10px 12px;
	margin: 0px 3px 0px 3px;
	border-color: #999;
	border-bottom: 1px solid #FFF;	
}
#detail_tab_contents {
	width: 94%;
	margin: 0px auto;
		
	display: block;
	border: 1px solid #999;
	min-height: 100px;
	padding: 15px 2%;
}

.detail_header {
	font-size: 24px;
	color: #45454;
	border: 1px solid #BBB;
	border-width: 0px 0px 1px 0px;
	padding-top: 4px;
}
.volunteer_shift_table {
	width: 100%;
	margin-bottom: 20px;
}
.volunteer_shift_table tr.even td {
	background-color: #F2F2F2;
}

.no_people_found {
	text-align: center;
	color: #999;
	padding: 10px;
	font-size: 20px;
}


.save_info {
	display: block;
	padding-top: 10px;
	color: #AAA;
	font-size: 13px;
}
.save_info a {
	font-size: 14px;
	padding: 4px 8px;
}
.last_save_time {
	width: 30em;
}
.nyi {
	display: none;
	color: #777;
	text-align: center;
}
.nyi img {
	vertical-align: middle;
}