body {
	background: url("../images/green_tweed_background.gif");
}
input {
	border: 1px solid #DDD;
	padding: 0px;
	margin: 0px;
}
input:focus {
	outline-style:none;
	border: 1px solid #3E9CFD;
}
.title {
	font-size: 30px;
}
.title img {
	vertical-align: text-top;
	margin-right: 8px;
}
.setup_phrase {
	font-size: 20px;
	color: #004486;
	margin-top: 10px;
}
.criteria_list {
	padding-left: 20px;
}
.criterium {
	margin: 2px 0px;
}
.criterium .additive {
	padding-left: 6px;
/*	padding-left: 18px;*/
/*	background: url("../images/bullet-grey-8.png");*/
/*	background-position: 5px 6px;*/
/*	background-repeat: no-repeat;*/
}

.new_criterium {
	margin-top: 6px;
}
.column_list {
	display: block;
	position: relative;
	padding: 0px 0px 20px 20px;
}
.column {
	display: block;
	width: 30%;
	float: left;
	padding: 2px;
}
.column label {
	padding-left: 6px;
}
.sample_results {
	clear: both;
	width: 100%;
	padding-top: 20px;
}
.sample_results table.sample_table {
	width: 98%;
	margin-left: 1%;
	margin-top: 2px;
	border: 1px solid #DDD;
}
.sample_results table.sample_table th {
	text-align: left;
	background-color: #DDD;
	border: 1px solid #BBB;
	padding: 2px;
}
.sample_results table.sample_table td {
	border: 1px solid #DDD;
	padding: 2px;
}
.actions {
	padding: 20px 0px;
	clear: both;
}
.right_actions {
	clear: none;
	float: right;
}

.small_search {
	float: right;
}
.small_search #id_page_top_search {
	font-size: 18px;
	margin: 0px;
	padding: 4px 4px;
	border: 2px solid #DDD;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	width: 300px;
	padding-left: 40px;

	background-image: url("../images/search-24.png");
	background-position: 4px 4px;
	background-repeat: no-repeat;
}

.report_list {
	padding: 20px 10px;
}
table.report_results {
	width: 100%;
	margin-top: 10px;
}
table.report_results td {
	padding: 2px;
}
table.report_results .view_results, table.report_results .download_csv {
	width: 10%;
}

.total_results {
	padding: 4px 10px;

}
td.remainder_count {
	padding-left: 8px;
}

.criteria_list {
	padding: 6px;
}