input {
	border: 1px solid #DDD;
	padding: 0px;
	margin: 0px;
}
input:focus {
	outline-style:none;
	border: 1px solid #3E9CFD;
}
#container_id_name, #container_id_name input {
	font-size: 30px;
}

.new_criterium {
	margin-top: 6px;
}
.column_list {
	display: block;
	position: relative;
	padding: 0px 0px 20px 20px;
}
.column {
	display: block;
	width: 30%;
	float: left;
	padding: 2px;
}
.column label {
	padding-left: 6px;
}
.sample_results {
	clear: both;
	width: 100%;
	padding-top: 20px;
}
.sample_results table.sample_table {
	width: 98%;
	margin-left: 1%;
	margin-top: 2px;
	border: 1px solid #DDD;
}
.sample_results table.sample_table th {
	text-align: left;
	background-color: #DDD;
	border: 1px solid #BBB;
	padding: 2px;
}
.sample_results table.sample_table td {
	border: 1px solid #DDD;
	padding: 2px;
}
.actions {
	padding: 20px 0px;
	clear: both;
}
.right_actions {
	clear: none;
	float: right;
}

.small_search {
	float: right;
}
.small_search #id_page_top_search {
	font-size: 18px;
	margin: 0px;
	padding: 4px 4px;
	border: 2px solid #DDD;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	width: 300px;
	padding-left: 40px;

	background-image: url("../images/search-24.png");
	background-position: 4px 4px;
	background-repeat: no-repeat;
}

.spreadsheet_list {
	padding: 20px 10px;
}
table.spreadsheet_results {
	width: 100%;
	margin-top: 10px;
}
table.spreadsheet_results td {
	padding: 2px;
}
table.spreadsheet_results .view_results, table.spreadsheet_results .download_csv {
	width: 10%;
}

.total_results {
	padding: 4px 10px;

}
td.remainder_count {
	padding-left: 8px;
}

.criteria_list {
	padding: 6px;
}
.basic_info .section {
	display: block;
	float: left;
	margin: 0px 10px 0px 0px;
}
.basic_info .group_and_template .generic_field_label {
	display: none;
}

.download_spreadsheet_button_block {
	display: block;
	text-align: center;
	padding: 20px;
}
.download_spreadsheet_button_block .download_spreadsheet_btn {
	/*font-size: 30px;*/
}
.detail_header {
	padding-top: 10px;
	width: 90%;
}
.file_type_option {
	display: block;
	padding: 8px;
	clear: both;
	width: 60%;
	overflow: auto;

}
.file_type_option input {
	float: left;
	display: block;
	margin: 5px;

}
.file_type_option label {
	display: block;
	float: left;
	width: 80%;
}
.file_type_option .option_name {
	font-size: 20px;
	color: #222;
	display: block;
}
.file_type_option .option_description {
	color: #888;
	display: block;	
	font-size: 14px;
}