{% extends "rewrite/base.html" %}
{% block title %}{{page.title}}{% endblock %}
{% block description %}{{page.description}}{% endblock %}
{% block keywords %}{{page.keywords}}{% endblock %}
{% block extra_head_html %}
{% if request.user.is_authenticated %}<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/rewrite/rewrite-public.css">{% endif %}
{{template.extra_head_html|default_if_none:""|safe}}
{% endblock %}
{% block js %}{{block.super}}
<script>
{% block rewrite_setup %}
	rewrite.editor.urls.init = function() {
		rewrite.editor.urls.save_page = "{% url rewrite:save_page page.pk %}"
	}		
	$(function(){
		rewrite.editor.init();
	});
{% endblock %}
</script>
{% endblock %}
{% block content %}

{% if request.user.is_authenticated %}
	<div id="rewrite_admin_bar">
	{% block admin_bar %}
		Admin Bar:
		<form action="" method="POST" class="blog_post_form rewrite_associated_form">
		{{page_form}}
		</form>
		{% include "rewrite/_admin_bar_save_and_editor.html" %}		

	</div>
	{% endblock %}
{% endif %}

    <header>
  		{{ template.page_header_html|default_if_none:""|safe }}
  		{% include "rewrite/_main_nav.html" %}
  		{% include "rewrite/_section_nav.html" %}
    </header>
    <div id="main" role="main">
	  {{ template.pre_content_html|default_if_none:""|safe }}
	  {% block rewrite_page_content %}{% if request.user.is_authenticated %}<div id="rewrite_editable_body">{% endif %}{{ page.content|default_if_none:""|safe }}{% if request.user.is_authenticated %}</div>{% endif %}{% endblock %}
	  {{ template.post_content_html|default_if_none:""|safe }}
	  
    </div>
{% endblock %}