pip > 1.0
Fabric
mercurial
#psycopg2
mysql-python
python-dateutil <2.0

PIL
python-memcached
django >=1.3.1
gunicorn
#django-cms >= 2.1.3
#django-tinymce
pyparsing
django-xmlrpc
akismet
BeautifulSoup
# -e git://github.com/skoczen/django-form-designer.git#egg=form_designer
-e git://github.com/GoodCloud/django-ajax-uploader.git#egg=ajaxuploader

django-extensions
-e git://github.com/skoczen/qi-toolkit.git#egg=qi-toolkit
python-crontab
django-analytical

django-pagination
sorl-thumbnail
tagging
lorem-ipsum-generator
nose
ipython
django-nose
nose-exclude
# django-nose-selenium
-e git://github.com/Almad/django-sane-testing.git#egg=djangosanetesting
cherrypy
south
celery
django-celery
-e git://github.com/kmmbvnr/django-jenkins.git#egg=django-jenkins
coverage >= 3.4
-e git://github.com/skoczen/nose-xcover.git#egg=nosexcover

django-taggit
django-taggit-templatetags
boto
django-ses
django-storages
slimmer

django-debug-toolbar
-e git://github.com/gintas/django-picklefield.git#egg=django-picklefield
-e git://github.com/tkaemming/django-subdomains.git#egg=django-subdomains
-e git://github.com/GoodCloud/johnny-cache.git#egg=johnny
django-balancer
redis==2.2.4
xlwt
xlrd
xlutils

django-newsletter
vobject
django-tinymce
chardet
-e git://github.com/GoodCloud/django-longer-username.git#egg=longerusername
pycurl
stripe
py-bcrypt
django-zebra
-e git://github.com/GoodCloud/django-functional-tests#egg=functional_tests
pytz
-e git://github.com/GoodCloud/tavutil.git#egg=tavutil
-e git://github.com/GoodCloud/bolt.git#egg=bolt
-e git://github.com/GoodCloud/django_compressor.git@versioned_static#egg=django_compressor
html5lib
