# -e git://github.com/GoodCloud/django_compressor.git@versioned_static#egg=django_compressor
-e git://github.com/Almad/django-sane-testing.git#egg=djangosanetesting
-e git://github.com/gintas/django-picklefield.git#egg=django-picklefield
-e git://github.com/GoodCloud/django-ajax-uploader.git#egg=ajaxuploader
-e git://github.com/GoodCloud/django-functional-tests#egg=functional_tests
-e git://github.com/GoodCloud/django-longer-username.git#egg=longerusername
-e git://github.com/GoodCloud/johnny-cache.git#egg=johnny
-e git://github.com/kmmbvnr/django-jenkins.git#egg=django-jenkins
-e git://github.com/skoczen/nose-xcover.git#egg=nosexcover
-e git://github.com/skoczen/qi-toolkit.git#egg=qi-toolkit
-e git://github.com/tkaemming/django-subdomains.git#egg=django-subdomains
akismet
BeautifulSoup
boto==2.0rc1
celery-with-redis
chardet
cherrypy
coverage >= 3.4
django >=1.3.1
django-analytical
django-balancer
django-celery
django-debug-toolbar
django-extensions
django-newsletter
django-nose
django-pagination
django-ses
django-sslify
django-staticfiles
django-storages
django-taggit
django-taggit-templatetags
django-tinymce
django-xmlrpc
django-zebra
fabric
gunicorn
html5lib
ipython
lorem-ipsum-generator
mercurial
mysql-python
nose
nose-exclude
PIL
pip > 1.0
psycopg2
py-bcrypt
pycurl
pyparsing
python-crontab
python-dateutil <2.0
python-memcached
pytz
slimmer
sorl-thumbnail
south
stripe
tagging
vobject
xlrd
xlutils
xlwt
pylibmc==1.2.2
django-pylibmc-sasl==0.2.4