pip > 1.0
fabric
mercurial
#psycopg2
mysql-python
python-dateutil <2.0

PIL
python-memcached
django <1.3
gunicorn
django-cms >= 2.1.3
django-tinymce
pyparsing
django-xmlrpc
akismet
BeautifulSoup
-e git://github.com/skoczen/django-form-designer.git#egg=form_designer

django-extensions
-e git://github.com/skoczen/qi-toolkit.git#egg=qi-toolkit  > 0.3.1
python-crontab
django-analytical

django-pagination
sorl-thumbnail
tagging
lorem-ipsum-generator
nose
ipython
django-nose
nose-exclude
django-nose-selenium
-e git://github.com/Almad/django-sane-testing.git#egg=djangosanetesting
cherrypy
south
celery
django-celery
-e git://github.com/kmmbvnr/django-jenkins.git#egg=django-jenkins
coverage >= 3.4
-e git://github.com/skoczen/nose-xcover.git#egg=nosexcover

-e hg+https://django-dumpdb.googlecode.com/hg/django-dumpdb#egg=django_dumpdb

django-taggit
django-taggit-templatetags
boto
django-ses
#django-storages
-e hg+https://bitbucket.org/david/django-storages#egg=storages
django-mediasync
slimmer

gitpython
django-debug-toolbar
-e git://github.com/gintas/django-picklefield.git#egg=django-picklefield
-e git://github.com/tkaemming/django-subdomains.git#egg=django-subdomains
johnny-cache
django-balancer