fabric
psycopg2
# mysql-python
pysqlite
PIL
python-memcached
django >=1.2
gunicorn
-e git://github.com/skoczen/django-cms.git#egg=django-cms
pyparsing
django-xmlrpc
akismet
django-tagging
BeautifulSoup
django-extensions
-e git://github.com/skoczen/qi-toolkit.git#egg=qi-toolkit  > 0.3.1
python-crontab
-e git://github.com/clintecker/django-google-analytics.git#egg=google_
-e git://github.com/skoczen/django-form-designer.git#egg=form_designer
django-pagination
django-mailer
sorl-thumbnail
tagging
lorem-ipsum-generator
nose
ipython
django-nose
nose-exclude
south