mercurial==1.8.3
#psycopg2
python-dateutil==1.5

PIL==1.1.7
python-memcached==1.47
gunicorn==0.12.1
django-cms==2.1.3
django-tinymce==1.5.1a2
pyparsing==1.5.5
django-xmlrpc==0.1.3
akismet==0.2.0
BeautifulSoup==3.2.0
-e git://github.com/skoczen/django-form-designer.git@b9d1716acbda950e440fb13e877d3836e7b0a124#egg=form_designer-dev

django-extensions==0.6
-e git://github.com/skoczen/qi-toolkit.git@d1c8d2ebfacdd3ca4319583c6c957f7b73e98af7#egg=qi_toolkit-dev
python-crontab==0.9.6
django-analytical==0.8.1

django-pagination==1.0.7
sorl-thumbnail==11.05.2
tagging==0.2.1
lorem-ipsum-generator==0.3
nose==1.0.0
ipython==0.10.2
django-nose==0.1.3
nose-exclude==0.1.5
django-nose-selenium==0.7
-e git://github.com/Almad/django-sane-testing.git@771b5c0709061f7f0ccde1ac9d3fb63449290b48#egg=djangosanetesting-dev
celery==2.2.6
django-celery==2.2.4
-e git://github.com/kmmbvnr/django-jenkins.git@a302b8072d27a141ca38035c73828c21f4fbabd6#egg=django_jenkins-dev
coverage==3.4
-e git://github.com/skoczen/nose-xcover.git@cccc0e83ce2ed117903768587177a937c144e152#egg=nosexcover-dev

django-taggit==0.9.3
django-taggit-templatetags==0.4.6dev
boto==2.0b4
django-ses==0.2
#django-storages
django-mediasync==2.1.0
slimmer==0.1.30

django-debug-toolbar==0.8.5
django-picklefield==0.1.9
-e git://github.com/tkaemming/django-subdomains.git#egg=django-subdomains==1.1.1
GitPython


johnny-cache==0.3.1
django-balancer==0.3
django-sentry==1.8.2
redis==2.2.4
## The following requirements were added by pip --freeze:
CherryPy==3.2.0
Django==1.2.5
Fabric==1.0.1
GitPython==0.3.1
MySQL-python==1.2.3
South==0.7.3
amqplib==0.6.1
anyjson==0.3.1
async==0.6.1
django-classy-tags==0.3.3.1
django-indexer==0.3.0
django-paging==0.2.4
-e hg+https://bitbucket.org/david/django-storages@c6c65d30e7b560cd19784aa9cfaef7f4fdf41a1d#egg=django_storages-dev
django-templatetag-sugar==0.1
gitdb==0.5.2
importlib==1.0.2
kombu==1.1.3
logilab-astng==0.21.1
logilab-common==0.55.2
paramiko==1.7.6
pycrypto==2.3
pylint==0.23.0
unittest2==0.5.1
wsgiref==0.1.2
