pip > 1.0
git+https://github.com/GoodCloud/django-ajax-uploader.git#egg=ajaxuploader
git+https://github.com/skoczen/qi-toolkit.git#egg=qi-toolkit
git+https://github.com/Almad/django-sane-testing.git#egg=djangosanetesting
git+https://github.com/kmmbvnr/django-jenkins.git#egg=django-jenkins
git+https://github.com/skoczen/nose-xcover.git#egg=nosexcover
git+https://github.com/gintas/django-picklefield.git#egg=django-picklefield
git+https://github.com/tkaemming/django-subdomains.git#egg=django-subdomains
git+https://github.com/GoodCloud/johnny-cache.git#egg=johnny
git+https://github.com/GoodCloud/django-longer-username.git#egg=longerusername
git+https://github.com/GoodCloud/django-functional-tests#egg=functional_tests
git+https://github.com/GoodCloud/tavutil.git#egg=tavutil
git+https://github.com/GoodCloud/bolt.git#egg=bolt
git+https://github.com/GoodCloud/django_compressor.git@versioned_static#egg=django_compressor
Fabric
mercurial
mysql-python
python-dateutil <2.0
PIL
python-memcached
django >=1.3.1
gunicorn
pyparsing
django-xmlrpc
akismet
BeautifulSoup
django-extensions
python-crontab
django-analytical
django-pagination
sorl-thumbnail
tagging
lorem-ipsum-generator
nose
ipython
django-nose
nose-exclude
cherrypy
south
celery
django-celery
coverage >= 3.4
django-taggit
django-taggit-templatetags
boto==2.0rc1
django-ses
django-storages
slimmer
django-debug-toolbar
django-balancer
redis==2.2.4
xlwt
xlrd
xlutils
django-newsletter
vobject
django-tinymce
chardet
pycurl
stripe
py-bcrypt
django-zebra
pytz
html5lib
