<ul class="tabs">
	<li class="tab pages {% if tabs == "pages" %}current{% endif %}" ><a href="{% url rewrite:manage_pages %}">Pages</a></li>
	<li class="tab blog {% if tabs == "blog" %}current{% endif %}" ><a href="{% url rewrite:manage_blog %}">Blog</a></li>
	<li class="tab template {% if tabs == "template" %}current{% endif %}" ><a href="{% url rewrite:manage_templates %}">Templates</a></li>
	<li class="tab settings {% if tabs == "settings" %}current{% endif %}" ><a href="{% url rewrite:manage_settings %}">Settings</a></li>
</ul>