{% extends "rewrite/manage/base.html" %}
{% block manage_page_content %}
	Blog Posts
	<posts><section>
	{% for b in blog_posts %}
		<post>
			<name><a href="{% url website:blog_entry b.slug %}">{{b}}</a></name>
			<date>{{b.publish_date|date}}</date>
			<delete><a href="{% url rewrite:delete_post b.id %}">delete</a></delete>
		</post>
	{% endfor %}
	</section></posts>
	<form action="{% url rewrite:new_blog_post %}" method="POST">{% csrf_token %}
		{{new_blog_post_form.as_p}}
		<input type="submit" />
	</form>


	<a href="#" class="new_page_link">New Blog Post</a>
{% endblock %}