{% extends "rewrite/manage/base.html" %}
{% block js %}{{block.super}}
	<script>
		$(function(){
			$( "sections" ).sortable();
			$( "sections" ).disableSelection();
			$( "pages" ).sortable();
			$( "pages" ).disableSelection();

		});
	</script>
{% endblock %}

{% block manage_page_content %}
	Pages
	<sections>
	{% for s in sections %}
	<section>
		<name>{{s}}</name>
		<pages>
		{% for p in s.pages %}
		<page class="list_block">
			<name><a href="{% url website:page p.section.slug p.slug %}">{{p}}</a></name>
			<delete><a href="{% url rewrite:delete_page p.id %}">delete</a></delete>
		</page>
		{% endfor %}
		</pages>
	</section>
	{% endfor %}
	</sections>
	<form action="{% url rewrite:new_page %}" method="POST">{% csrf_token %}
		{{new_page_form.as_p}}
		<input type="submit" />
	</form>

	<form action="{% url rewrite:new_section %}" method="POST">{% csrf_token %}
		{{new_section_form.as_p}}
		<input type="submit" />
	</form>

	<a href="#" class="new_page_link">New Page</a>
	<a href="#" class="new_page_link">New Section</a>
{% endblock %}