{% extends "rewrite/manage/base.html" %}
{% block js %}{{block.super}}
	<script>
		$(function(){
			$( "sections" ).sortable();
			$( "sections" ).disableSelection();
			$( "pages" ).sortable();
			$( "pages" ).disableSelection();
		});
	</script>
{% endblock %}

{% block manage_page_content %}
	Pages
	<sections>
	{% for s in sections %}
	<section section_id="{{s.pk}}">
		<name>{{s}}</name>
		<pages>
		{% for p in s.pages %}
		<page class="list_block">
			<name><a href="{% url website:page p.section.slug p.slug %}">{{p}}</a></name>
			<delete><a href="{% url rewrite:delete_page p.id %}">delete</a></delete>
			<div class="uses_template">{{p.template}}</div>
		</page>
		{% endfor %}
		</pages>
		<a href="#" class="new_page_link">New Page</a>
		<form action="{% url rewrite:new_page %}" method="POST" class="new_page_form">{% csrf_token %}
		{{new_page_form.title}}
		{{new_page_form.template}}
		<input type="hidden" name="section" value="{{s.pk}}" />
		<input type="submit" value="Add Page" />
		<input type="reset" value="Cancel"  class="cancel_new_page_link" />
	</form>
	</section>
	{% endfor %}
	</sections>
	
	<a href="#" class="new_section_link">New Section</a>
	<form action="{% url rewrite:new_section %}" method="POST" class="new_section_form">{% csrf_token %}
		{{new_section_form.as_p}}
		<input type="submit" value="Add Section" />
		<input type="reset" value="Cancel" class="cancel_section_link" />
	</form>
	
	
{% endblock %}