{% extends "rewrite/manage/base.html" %}
{% block js %}{{block.super}}
	{% include "rewrite/manage/_code_textareas.html" %}
{% endblock %}
{% block manage_page_content %}
	Templates
	<templates><section>
	{% for t in templates %}
		<template>
			<name><a href="{% url rewrite:edit_template t.id %}">{{t}}</a></name>
			<delete>{% if t.in_use %}In Use {% else %}<a href="{% url rewrite:delete_template t.id %}">delete</a>{% endif %}</delete>
		</template>	
	{% endfor %}
	</section></templates>

	<form action="{% url rewrite:new_template %}" method="POST">{% csrf_token %}
		{{new_template_form.as_p}}
		<input type="submit" />
	</form>


	<a href="#" class="new_template_link">New Template</a>
{% endblock %}