<div class="basic_info edit">
<div class="address">
	<div class="line_1 form_field"><input type="text" value="{{person.primary_address.line_1}}" /></div>
	<div class="line_2 form_field"><input type="text" value="{{person.primary_address.line_2}}" /></div>
	<div class="city_state_zip">
		<span class="city form_field"><input type="text" value="{{person.primary_address.city}}" /></span>
		<span class="state form_field"><input type="text" value="{{person.primary_address.state}}" /></span>,
		<span class="postal_code form_field"><input type="text" value="{{person.primary_address.postal_code}}" /></span>
	</div>
	
</div>
<div class="name_phone_email">
	<div class="name">
		<span class="first_name form_field"><input type="text" value="{{person.first_name}}" /></span>
		<span class="last_name form_field"><input type="text" value="{{person.last_name}}" /></span>
	</div>
	{% if person.primary_phone_number %}
		<div class="phone_number form_field">
			<input type="text" value="{{person.primary_phone_number}}" />
		</div>
	{% endif %}
	{% if person.primary_email %}
		<div class="email form_field">
			<input type="text" value="{{person.primary_email}}" />
		</div>
	{% endif %}
</div>
</div>
