{% extends "people/base.html" %}
{% load i18n generic_fields friendly_data_formatting %}
{% block title %}Organizations - {% if org.name %}{{org.name}}{% else %}New Organization{% endif %}{% endblock %}
{% block css %}{{block.super}}
{% generic_field_css %}
 <link rel="stylesheet" href="{{ MEDIA_URL }}css/people_organizations.css" type="text/css" media="screen" title="" charset="utf-8">
{% endblock %}
{% block javascript %}{{block.super}}
<script type="text/javascript" charset="utf-8" src="{{MEDIA_URL}}js/mycelium/people_person.js"> </script>
<script type="text/javascript" charset="utf-8" src="{{MEDIA_URL}}js/mycelium/people_organization.js"> </script>
{% if request.GET.edit == "ON" %}
<script type="text/javascript" charset="utf-8">
$(function(){
	toggle_edit();
});
</script>
{% endif %}

{% endblock %}
{% block breadcrumb_links %}<a href="{% url people:search %}" >Back to All People and Organizations</a>{% endblock %}
{% block page_content %}

<form action="{% url people:organization_save_basic org.pk %}" class="edit_mode_off" id="basic_info_form" method="POST">
{% with "Edit Organization" as edit_label %}
{% include "people/_save_status_and_button.html" %}
{% endwith %}


<div class="basic_info">
	<div class="name_phone_email">
		<div class="name">
			{% generic_editable_field form.name %}
		</div>
		{% generic_editable_field form.primary_phone_number %}
		{# {% generic_editable_field form.organization_type %} #}
		{# {% generic_editable_field form.organization_type_other_name %} #}
		{% generic_editable_field_url form.website %}
		{% generic_editable_field_twitter form.twitter_username %}
	</div>
	<div class="address">
		{% generic_editable_field form.line_1 %}
		{% generic_editable_field form.line_2 %}

		<div class="city_state_zip">
			{% generic_editable_field form.city %}<span class="city_state_comma">,</span>
			{% generic_editable_field form.state %}
			{% generic_editable_field form.postal_code %}
		</div>
	
	</div>

</div>
</form>


<div class="additional_information">
	{# Extra emails, phone #s, Addresses #}
</div>
	
	
<div id="detail_tabs">
	<a class="detail_tab" href="#">Conversations</a>
	<a class="detail_tab" href="#">Activity</a>
	<a class="detail_tab current" href="#">People</a>
	{# <a class="detail_tab" href="#">Participant</a> #}
	{# <a class="detail_tab current" href="#">Volunteer</a> #}
	<a class="detail_tab" href="#">Donor</a>
</div>
<div id="detail_tab_contents">
<div class="tab_contents organizations_people">
	<tabbed_box class="with_button closed" name="add_a_person">
		<tab_title_container>	
		<tab_title>
			{# <icon></icon> #}
			<text>Add a Person</text>
		</tab_title>
		</tab_title_container>
		<box_content>
			
		
			{# <a href="#" class="add_new_person_btn mycelium_btn">Add a Person</a> #}
	
			<pane name="1" class="pane_1">
			<div id="search_for_person">
				{# <section_title>Add a Person</section_title> #}
				<instructions>Who do you want to add?</instructions>
				<input type="search" {# results=5 #} name="new_person_name" id="id_search_new_person" placeholder="Type the name of the person you want to add..." results_url="{% url people:add_person_via_organization_search_results %}">
				<fragment name="new_person_search_results" action="replace">
					{# {% include "people/_add_person_to_org_results.html" %} #}
				</fragment>
			</div>
			</pane>
			
			<pane name="2" class="pane_2">
			<div id="add_existing_person">
				<a href="#" id="up_to_search">Back to Search</a>
				<section_title>Role Details</section_title>		
				<form action="{% url people:existing_person_via_organization org.pk %}" method="POST">{% csrf_token %}
					<span class="edit_mode_on">
					<input type="hidden" name="person_pk" value=""/>
					<span class="full_name"></span>
					{% generic_editable_field form_employee.role %}
					{% generic_editable_field form_employee.email %}
					{% generic_editable_field form_employee.phone_number %}
					</span>
				<form_actions>
					<input type="submit" class="mycelium_btn" value="Add this Person"/>
				</form_actions>
				</form>
				{# <box_close> #}
				{# 	<a href="#" class="mycelium_btn mycelium_grey cancel_add_btn">Cancel</a> #}
				{# </box_close> #}
				
			</div>
			<div id="new_person">
				<a href="#" id="up_to_search">Back to Search</a>
				<section_title>New Person Details</section_title>
				<form action="{% url people:new_person_via_organization org.pk %}" method="POST">{% csrf_token %}
					<span class="edit_mode_on">
					{% generic_editable_field form_new_person.first_name %}
					{% generic_editable_field form_new_person.last_name %}

					{% generic_editable_field form_employee.role %}
					{% generic_editable_field form_employee.email %}
					{% generic_editable_field form_employee.phone_number %}
					</span>
				<form_actions>
					<input type="submit" class="mycelium_btn" value="Add this Person"/>
				</form_actions>
				</form>
				{# <box_close> #}
				{# 	<a href="#" class="mycelium_btn mycelium_grey cancel_add_btn">Cancel</a> #}
				{# </box_close> #}

			</div>
			</pane>
			<box_close>
				<a href="#" class="mycelium_btn mycelium_grey cancel_add_btn">Cancel</a>
			</box_close>
		</box_content>
	</tabbed_box>
	<employees>
		<form action="{% url people:organization_save_employees org.pk %}" id="employee_forms" method="POST">
		{% for e_form in employee_formset.forms %}
		<employee class="edit_mode_off">
			<save_status_and_button>
			<a href="#" class="mycelium_btn mycelium_small_btn start_edit_btn">Edit</a>
			<a href="#" class="mycelium_btn mycelium_small_btn edit_done_btn " >Done</a>
			<a href="#" class="mycelium_btn mycelium_small_btn mycelium_grey delete_contact_btn">Remove</a>
			</save_status_and_button>
			<span class="name"><a href="{% url people:person e_form.instance.person.pk %}" class="mycelium_crosslink_btn">{{e_form.instance.person.full_name}}</a></span>
			{% generic_editable_field e_form.role %}
			{% generic_editable_field e_form.phone_number %}
			{% generic_editable_field_email e_form.email %}
			{% for f in e_form.hidden_fields %}{{f}}{% endfor %}
		</employee>
		{% endfor %}
		{{employee_formset.management_form}}
		</form>
	</employees>
</div>
</div>
{% endblock %}