{% extends "people/base.html" %}
{% load i18n generic_fields friendly_data_formatting %}
{% block title %}People - {{person.full_name}}{% endblock %}
{% block css %}{{block.super}}
{% generic_field_css %}
{% endblock %}
{% block javascript %}{{block.super}}
<script type="text/javascript" charset="utf-8" src="{{MEDIA_URL}}js/mycelium/people_person.js"> </script>
{% if request.GET.edit == "ON" %}
<script type="text/javascript" charset="utf-8">
$(function(){
	toggle_edit();
});
</script>
{% endif %}

{% endblock %}
{% block breadcrumb_links %}<a href="{% url people:search %}" >Back to All People</a>{% endblock %}
{% block page_content %}
{% include "people/_save_status_and_button.html" %}


<form action="{% url people:person_save_basic person.pk %}" class="edit_mode_off" id="basic_info_form" method="POST">
<div class="basic_info">
	<div class="name_phone_email">
		<div class="name">
			{% generic_editable_field form.first_name %}
			{% generic_editable_field form.last_name %}
		</div>
		{% generic_editable_field phone_form.phone_number %}
		{% generic_editable_field_email email_form.email %}
	</div>
	<div class="address">
		{% generic_editable_field address_form.line_1 %}
		{% generic_editable_field address_form.line_2 %}

		<div class="city_state_zip">
			{% generic_editable_field address_form.city %}<span class="city_state_comma">,</span>
			{% generic_editable_field address_form.state %}
			{% generic_editable_field address_form.postal_code %}
		</div>
	
	</div>

</div>
</form>

{# {% include "people/_basic_view.html" %} #}
{# {% include "people/_basic_edit.html" %} #}

<div class="additional_information">
	{# Extra emails, phone #s, Addresses #}
</div>
	
	
<div id="detail_tabs">
	<a class="detail_tab" href="#">Conversations</a>
	<a class="detail_tab" href="#">Participant</a>
	<a class="detail_tab current" href="#">Volunteer</a>
	<a class="detail_tab" href="#">Donor</a>
</div>
<div id="detail_tab_contents">
	<div class="detail_header">Recent Volunteer Activity</div>
	{# add btn #}
	<table class="volunteer_shift_table striped">
		<tr>
			<td>3 hours</td>
			<td>last wednesday</td>
			<td>on Office Shift</td>
		</tr>
		<tr>
			<td>2 hours</td>
			<td>Nov 26</td>
			<td>on Tabling</td>
		</tr>
		<tr>
			<td>6 hours</td>
			<td>Nov 14</td>
			<td>on Training</td>
		</tr>
	</table>
	<div class="detail_header">All Volunteer Activity</div>
	{# add btn #}
	<table class="volunteer_shift_table striped">
		<tr>
			<td>2010</td>
			<td>83 hours</td>
			<td><a href="#">See details</a></td>
		</tr>
		<tr>
			<td>2009</td>
			<td>136 hours</td>
			<td><a href="#">See details</a></td>
		</tr>
		<tr>
			<td>2008</td>
			<td>42 hours</td>
			<td><a href="#">See details</a></td>
		</tr>
		
	</table>	
</div>
{% endblock %}