{% extends "people/base.html" %}
{% block head %}{{block.super}}
<script type="text/javascript" charset="utf-8">
	$(function(){
		$(".striped tr:even").addClass("even");
		$(".striped tr:odd").addClass("odd");
	
		$(".switch").click(function(){
			var box = $(".switch_box",this);
			if (box.hasClass("off")) {
				box.removeClass("off").addClass("on");
				$(".basic_info.view").hide();
				$(".basic_info.edit").show();
			} else {
				box.removeClass("on").addClass("off");
				$(".basic_info.view").show();
				$(".basic_info.edit").hide();
			}
		});
		// $("input").autoGrowInput({comfortZone: 5,});
		// $("input").check_width();
		
	})
</script>
{% endblock %}
{% block page_content %}
<div id="detail_header">
	<div class="switch">
		<div class="left_label">Edit</div>
		<div class="switch_box off">
		<div class="left_switch">on</div>
		<div class="right_switch">off</div>
		</div>
		<div class="right_label"></div>
	</div>
	<div class="small_search">
		<input id="id_page_top_search" name="page_top_search" />
	</div>
</div>

{% include "people/_basic_view.html" %}
{% include "people/_basic_edit.html" %}

<div class="additional_information">
	{# Extra emails, phone #s, Addresses #}
</div>
	
	
<div id="detail_tabs">
	<a class="detail_tab" href="#">Conversations</a>
	<a class="detail_tab" href="#">Participant</a>
	<a class="detail_tab current" href="#">Volunteer</a>
	<a class="detail_tab" href="#">Donor</a>
</div>
<div id="detail_tab_contents">
	<div class="detail_header">Recent Volunteer Activity</div>
	{# add btn #}
	<table class="volunteer_shift_table striped">
		<tr>
			<td>3 hours</td>
			<td>last wednesday</td>
			<td>on Office Shift</td>
		</tr>
		<tr>
			<td>2 hours</td>
			<td>Nov 26</td>
			<td>on Tabling</td>
		</tr>
		<tr>
			<td>6 hours</td>
			<td>Nov 14</td>
			<td>on Training</td>
		</tr>
	</table>
	<div class="detail_header">All Volunteer Activity</div>
	{# add btn #}
	<table class="volunteer_shift_table striped">
		<tr>
			<td>2010</td>
			<td>83 hours</td>
			<td><a href="#">See details</a></td>
		</tr>
		<tr>
			<td>2009</td>
			<td>136 hours</td>
			<td><a href="#">See details</a></td>
		</tr>
		<tr>
			<td>2008</td>
			<td>42 hours</td>
			<td><a href="#">See details</a></td>
		</tr>
		
	</table>	
</div>
{% endblock %}