{% extends "people/base.html" %}
{% block title %}People - Search{% endblock %}
{% block breadcrumb %}{% endblock %}
{% block javascript %}{{block.super}}
<script type="text/javascript" charset="utf-8">
	var SEARCH_URL = "{% url people:search_results %}";
</script>
<script type="text/javascript" charset="utf-8" src="{{MEDIA_URL}}js/mycelium/people_search.js"> </script>
{% endblock %}
{% block page_content %}
<div class="main_search_box">
	<a href="{% url people:new_person %}" class="new_person_btn mycelium_btn">New Person</a>
	<label for="id_search_query">Search:</label> <input name="search_query" id="id_search_query" />
</div>
<search_results>
	{% include "people/_search_results.html" %}
</search_results>
{% endblock %}