{% extends "people/base.html" %}
{% block title %}People - Search{% endblock %}
{% block breadcrumb %}{% endblock %}
{% block javascript %}{{block.super}}
<script type="text/javascript" charset="utf-8">
	var SEARCH_URL = "{% url people:search_results %}";
</script>
{% slimall %}<script type="text/javascript" charset="utf-8" src="/js/mycelium/people_search.js"> </script>
{% endslimall %}
{% endblock %}
{% block page_content %}
<div class="main_search_box">
	<label for="id_search_query">Search:</label> <input type="search" name="search_query" id="id_search_query" placeholder="Type in a name, phone number, or email..." autofocus />
</div>
<new_object_buttons>
	<a href="{% url people:new_person %}" class="new_person_btn mycelium_btn">New Person</a>
	<a href="{% url people:new_organization %}" class="new_organization_btn mycelium_btn">New Organization</a>	
</new_object_buttons>
<search_results><fragment name="main_search_results" action="replace">
	{% include "people/_search_results.html" %}
</fragment>
</search_results>
{% endblock %}