body {
	background: #EEE;
}
.tabs {
	width: 98%;
	margin: 40px auto 0px auto;
	text-align: center;
	height: 49px;
	clear: both;
	display: block;
}

.tabs a.tab {
	display: block;
	float: left;
	border: 1px solid #DDD;
	border-width: 1px 1px 0px 1px;
	border-top-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-webkit-border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-top-right-radius: 4px;
	margin: 3px 5px;
	padding: 10px;
	min-width: 15%;

	text-decoration: none;
	font-size: 20px;
	background-color: #F8F8F8;
	color: #BBB;
}
.tabs a.tab.current {
	background-color: #FFF;
	color: #0355aa;
	padding: 14px 12px 10px 12px;
	margin: 0px 3px 0px 3px;
	border-color: #999;
	border-bottom: 1px solid #FFF;	
}
#main {
	width: 94%;
	margin: 0px auto;
	display: block;
	border: 1px solid #999;
	min-height: 100px;
	padding: 15px 2%;
	background-color: #FFF;
}
sections {
	display: block;
}
section {
	display: block;
}
section page {
	display: block;
	margin-left: 10px;
}
section name {

}
section view {
	float: right;
	margin-right: 10px;
}
section delete {
	float: right;
}
template {
	display: block;
}
.CodeMirror {
	border: 1px solid #AAA;
}

.list_block {
	border: 1px solid #CCC;
	padding: 5px;
}