#rewrite_admin_bar {
	display: block;
	width: 100%;	
	min-height: 50px;
	background-color: #FAFAFA;
}
#rewrite_editor {
	/*display: none;*/
}
:focus {
  outline: none;

}
#rewrite_editable_body textarea {
	width: 100%;
	outline: none;
}
#rewrite_editable_body textarea[name=temp_editing] {
	border: 0px;
}
#rewrite_editable_body {
	width: 100%;
}
#rewrite_admin_bar .edit_and_save_links {
	float: right;
}
.rewrite_associated_form {
	display: none;
}
#rewrite_admin_bar .helptext {
	display: block;
	font-size: 12px;
	color: #AAA;
}
#rewrite_admin_bar .rewrite_associated_form p {
	display: block;
	padding: 10px;
}