{% extends "data_import/base.html" %}
{% load humanize %}
{% block title %}Data Import - Start a New Data Import{% endblock %}
{% block javascript %}{{block.super}}
<script src="{% url data_import:import_column_headers_js %}"></script>
<script type="text/javascript" charset="utf-8">
	var current_step = 1;
	var import_type = false;
	var uploader;
	$(function(){
		$("step[number=3] step_content").hide();
		$(".next_step_btn").live("click",next_step);
		$("select.import_column_type").live("change",column_header_changed)
		$("step[number=1] input[name=import_type]").live("change",import_type_selected)
		go_to_step(1);
	});
	function import_type_selected(){
		$(".choose_import_type .import_option").removeClass("active").addClass("inactive");
		var rad = $(".choose_import_type input[type=radio]:checked");
		import_type = rad.val()
		rad.parents(".import_option").addClass("active").removeClass("inactive");
		uploader =  new qq.FileUploader( {
		    action: $(".choose_import_type input[type=radio]:checked").attr("url"),
		    element: $('#file-uploader')[0],
		    multiple: false,
		    allowedExtensions: ["csv","xls","xlsx"],
		    onComplete: function( id, fileName, responseJSON ) {
		      if( responseJSON.success ) {
		        go_to_step(3);
		        $(".qq-upload-button").addClass("mycelium_grey");
		        import_results_received(responseJSON);
		      } else {
		        alert( "Upload failed!" ) ;
		      }
		    },
		    params: {
		      'csrf_token': '{{ csrf_token }}',
		      'csrf_name': 'csrfmiddlewaretoken',
		      'csrf_xname': 'X-CSRFToken',
		    },
		  } ) ;
		$(".qq-upload-button").addClass("mycelium_btn")
		$("#id_upload_type").val(import_type);
		go_to_step(2);
		$("select.import_column_type:first").focus();
	}
	function next_step() {
		current_step++;
		go_to_step(current_step)
	}
	function column_header_changed() {
		var all_selected = true;
		$("select.import_column_type").each(function(){
			var sel = $(this);
			if ($("option:selected", sel).val() == "") {
				all_selected = false;
			}
		});
		if (all_selected) {
			go_to_step(4);
		} else {
			go_to_step(3);
		}
		return false;
	}
	function go_to_step(step_number) {
		current_step = step_number;
		$("step").removeClass("current").removeClass("active");
		
		$("step step_content").hide();
		$("step pre_step_content").show();
		$("step .mycelium_btn").addClass("mycelium_grey");
		
		for (j=step_number; j>0; j--) {
			$("step[number="+j+"]").addClass("active")	
			$("step[number="+j+"] step_content").show();
			$("step[number="+j+"] pre_step_content").hide();
			
		}
		$("step[number="+step_number+"] .mycelium_btn").removeClass("mycelium_grey").removeClass("mycelium_gray");	
		$("step[number="+step_number+"]").addClass("current");
		if (step_number == 4) {
			$(".submit_and_start_import_btn").removeClass("disabled").removeAttr("disabled");
		} else {
			$(".submit_and_start_import_btn").attr("disabled","disabled").addClass("disabled");
		}
	}

	var uploader = false
	
	function import_results_received(json) {
		$(".import_fields_confirmation thead").html("");
		$(".import_fields_confirmation tbody").html("");
		for (j=0; j<json.first_rows[0].length; j++) {
			// $(".import_fields_confirmation thead").append("<th class='col_"+j+"'>{% include "data_import/_dropdown_options.html" %}</th>");
			$(".import_fields_confirmation thead").append("<th class='col_"+j+"'></th>");
		}
		col_count = 0;
		$(".import_fields_confirmation thead th").each(function(){
			th = $(this);
			th.html('<td><select class="import_column_type" name="import_col_'+col_count+'">' + COLUMN_HEADERS.rendered_select_options[import_type] +'</select></td>');
			col_count ++;
		});

		for (j=0; j<json.first_rows.length; j++) {
			$(".import_fields_confirmation tbody").append("<tr class='striped_row'></tr>");
			for (k=0; k<json.first_rows[j].length; k++) {
				$(".import_fields_confirmation tbody tr:last").append("<td>"+json.first_rows[j][k]+"&nbsp;</td>");	
			}
		}
		if (json.num_rows - json.first_rows.length > 0) {
			$(".import_fields_confirmation tbody").append("<tr class='striped_row and_more_row'><td colspan="+json.first_rows[0].length+">and "+(json.num_rows - json.first_rows.length)+" more rows</td></tr>");	
		}
		
		$("#id_upload_filename").val(json.filename);

		$.Mycelium.update_stripes()


	}

</script>
{% endblock %}
{% block breadcrumb_links %}<a href="{% url data_import:list %}">Back to All Data Imports</a>{% endblock %}
{% block page_content %}
<page_title>Start Data Import</page_title>
<div class="easy_header">Data import is a way for you to bring in data from your old system into GoodCloud.  You can import data as many times as you want - GoodCloud will match up with data you already have, and give you a clear report of what changed.</div>
<div class="start_data_import">
<form class="upload_form" enctype="multipart/form-data" action="">
<step number="1" class="active choose_import_type">
	<step_number>1</step_number>
	<instruction>Choose what you want to import</instruction>
	<step_content>	
		<span class="import_option import_type_people">
			<input type="radio" url="{% url data_import:ajax_upload 'people' %}" name="import_type" value="people" id="id_import_type_people"/>
			<label for="id_import_type_people">People</label>
		</span>
		<span class="import_option import_type_organizations">
			<input type="radio" url="{% url data_import:ajax_upload 'organizations' %}" name="import_type" value="organizations" id="id_import_type_organizations"/>
			<label for="id_import_type_organizations">Companies or Organizations</label>
		</span>
		<span class="import_option import_type_volunteer_hours">
			<input type="radio" url="{% url data_import:ajax_upload 'volunteer_hours' %}" name="import_type" value="volunteer_hours" id="id_import_type_volunteer_hours"/>
			<label for="id_import_type_volunteer_hours">Volunteer Hours</label>
		</span>
		<span class="import_option import_type_donations">
			<input type="radio" url="{% url data_import:ajax_upload 'donations' %}" name="import_type" value="donations" id="id_import_type_donations"/>
			<label for="id_import_type_donations">Donations</label>
		</span>
	</step_content>
</step>


<step number="2" >
	<step_number>2</step_number>
	<instruction>Choose a spreadsheet. </instruction>
	<pre_step_content>Choose what sort of data you want to import above.</pre_step_content>
	<step_content style="display: none;">
		<step_instructions>Choose an Excel or .CSV files to upload, or drag one onto the button.</step_instructions>
	{# <form class="upload_form" enctype="multipart/form-data"> #}
		<div id="file-uploader">       
		    <noscript>          
		        <p>Please enable JavaScript to use file uploader.</p>
		    </noscript>         
		</div>
	{# </form> #}
	</step_content>
</step>
</form>
<form class="submit_form" method="POST" enctype="multipart/form-data" action="{% url data_import:begin_import %}" >{% csrf_token %}
<input type="hidden" name="upload_filename" id="id_upload_filename" />
<input type="hidden" name="upload_type" id="id_upload_type" />
<step number="3">
	<step_number>3</step_number>
	<instruction>Confirm the fields you want to import.</instruction>
	<pre_step_content>Upload a file above to see the import fields.</pre_step_content>
	<step_content style="display: none;">
	<div class="import_fields_container">
	<table class="striped record_table import_fields_confirmation">
		<thead>
		</thead>
		<tbody>
		</tbody>
	</table>
	</div>
	</step_content>
	</active_step_content>
</step>

<step number="4">
	<step_number>4</step_number>
	<instruction>Click Start Import, and give the GoodCloud robots a minute!</instruction>
	<pre_step_content>Finish 1-3, then you're ready to go!</pre_step_content>
	<step_content style="display: none;">	
	<input type="submit"  class="mycelium_btn mycelium_grey submit_and_start_import_btn" value="Start Import" />
	</step_content>
	</active_step_content>
</step>
</form>
</div>
{% endblock %}