{% extends "import/base.html" %}
{% load humanize %}
{% block title %}Data Import - Start a New Data Import{% endblock %}
{% block javascript %}{{block.super}}
<script type="text/javascript" charset="utf-8">
	var current_step = 1;
	$(function(){
		$("step[number=3] step_content").hide();
		$(".next_step_btn").live("click",next_step);
		$("th.col_6 select").live("change",next_step)
		$("step[number=1] input[name=import_type]").live("change",import_type_selected)
		$(".qq-upload-button").addClass("mycelium_btn")

	});
	function import_type_selected(){
		$(".choose_import_type .import_option").removeClass("active").addClass("inactive");
		var rad = $(".choose_import_type input[type=radio]:checked");
		rad.parents(".import_option").addClass("active").removeClass("inactive");
		current_step = 1;
		next_step();
	}
	function next_step() {
		current_step++;
		$("step[number="+current_step+"]").addClass("active");
		$("step[number="+current_step+"] step_content").show();
		$("step[number="+current_step+"] pre_step_content").hide();
		$("step[number="+current_step+"] .mycelium_btn").removeClass("mycelium_grey").removeClass("mycelium_gray");
	}

	var uploader = new qq.FileUploader( {
	    action: "{% url data_import:ajax_upload %}",
	    element: $('#file-uploader')[0],
	    multiple: false,
	    allowedExtensions: ["csv","xls","xlsx"],
	    onComplete: function( id, fileName, responseJSON ) {
	      if( responseJSON.success ) {
	        next_step();
	        $(".qq-upload-button").addClass("mycelium_grey");	      	
	      } else {
	        alert( "Upload failed!" ) ;	      	
	      }
	    },
	    params: {
	      'csrf_token': '{{ csrf_token }}',
	      'csrf_name': 'csrfmiddlewaretoken',
	      'csrf_xname': 'X-CSRFToken',
	    },
	  } ) ;
	

</script>
{% endblock %}
{% block breadcrumb_links %}<a href="{% url data_import:list %}">Back to All Data Imports</a>{% endblock %}
{% block page_content %}
<coming_soon>We're not quite done with data import yet, but it'll be ready to go by June 1!</coming_soon>
<page_title>Start Data Import</page_title>
<div class="easy_header">Data import is a way for you to bring in data from your old system into GoodCloud.  You can import data as many times as you want - GoodCloud will match up with data you already have, and give you a clear report of what happened.</div>
<div class="start_data_import">
<form class="upload_form" enctype="multipart/form-data">
<step number="1" class="active choose_import_type">
	<step_number>1</step_number>
	<instruction>Choose what you want to import</instruction>
	<step_content>	
		<span class="import_option import_type_people">
			<input type="radio" name="import_type" value="people" id="id_import_type_people"/>
			<label for="id_import_type_people">People</label>
		</span>
		<span class="import_option import_type_organizations">
			<input type="radio" name="import_type" value="organizations" id="id_import_type_organizations"/>
			<label for="id_import_type_organizations">Companies or Organizations</label>
		</span>
		<span class="import_option import_type_volunteer_hours">
			<input type="radio" name="import_type" value="volunteer_hours" id="id_import_type_volunteer_hours"/>
			<label for="id_import_type_volunteer_hours">Volunteer Hours</label>
		</span>
		<span class="import_option import_type_donations">
			<input type="radio" name="import_type" value="donations" id="id_import_type_donations"/>
			<label for="id_import_type_donations">Donations</label>
		</span>
	</step_content>
</step>


<step number="2" >
	<step_number>2</step_number>
	<instruction>Choose a spreadsheet. </instruction>
	<pre_step_content>Choose what sort of data you want to import, above.</pre_step_content>
	<step_content style="display: none;">
		<step_instructions>Choose an Excel or .CSV files to upload, or drag one onto the button.</step_instructions>
	{# <form class="upload_form" enctype="multipart/form-data"> #}
		<div id="file-uploader">       
		    <noscript>          
		        <p>Please enable JavaScript to use file uploader.</p>
		    </noscript>         
		</div>
	{# </form> #}
	</step_content>
</step>

<step number="3">
	<step_number>3</step_number>
	<instruction>Confirm the fields you want to import.</instruction>
	<pre_step_content>Upload a file above to see the import fields.</pre_step_content>
	<step_content style="display: none;">
	<table class="striped record_table import_fields_confirmation">
		<tr>
			<th class="col_1">{% with "id" as opt  %}{% include "import/_dropdown_options.html" %}{% endwith %}</th>
			<th class="col_2">{% with "first_name" as opt  %}{% include "import/_dropdown_options.html" %}{% endwith %}</th>
			<th class="col_3">{% with "last_name" as opt  %}{% include "import/_dropdown_options.html" %}{% endwith %}</th>
			<th class="col_4">{% with "email" as opt  %}{% include "import/_dropdown_options.html" %}{% endwith %}</th>
			<th class="col_5">{% with "birthday" as opt  %}{% include "import/_dropdown_options.html" %}{% endwith %}</th>
			<th class="col_6">{% include "import/_dropdown_options.html" %}</th>
		</tr>
		{% with people|slice:"5" as five_people %}
		{% for p in five_people %}
		<tr>
			<td class="col_1">{{p.pk}}</td>
			<td class="col_2">{{p.first_name}}</td>
			<td class="col_3">{{p.last_name}}</td>
			<td class="col_4">{{p.primary_email}}</td>
			<td class="col_5">{{birthdates|random|date}}</td>
			<td class="col_6">{{ages|random}}</td>
		</tr>
		{% endfor %}
		{% endwith %}
	</table>
	</step_content>
	</active_step_content>
</step>

<step number="4">
	<step_number>4</step_number>
	<instruction>Click Import, and give the GoodCloud robots a minute!</instruction>
	<step_content>	
	<a href="{% url data_import:list %}" class="mycelium_btn mycelium_grey">Start Import</a>
	</step_content>
	</active_step_content>
</step>
</form>
</div>
{% endblock %}