#error_message {
	width: 80%;
	margin: 40px auto;
}
#error_message .adorable_image {
	text-align: center;
	margin-bottom: 00px;
}
#error_message h1 {
	text-align: left;
	font-size: 20px;
}
.detail_box {
	
	padding: 0px 40px;
	
	background-color: #FDFDFd;
	border-radius: 12px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;	
}
.detail_text {
	width: 85%;
	margin: 0px auto;

}
body {
	background-color: #FFF;
	height: 100%;
	/*background-color: #0a5ab9;
	background-image: url("../images/marketing-background-plain-4.jpg");	*/
	background-repeat: no-repeat;
	background-position: 50% 0px;
}
body.502 .detail_text {
	text-align: center;
	padding-bottom: 30px;
}