
save_status_and_button {
	padding: 8px 10px 0px 0px;
	color: #999;
}
save_status_and_button a, save_status_and_button .save_info {
	display: block;
	float: right;
	margin-left: 10px;
}
save_status_and_button .save_and_status_btn {
	display: none;
	width: 70px;
	text-align: center;
}
save_status_and_button .edit_done_btn {
	display: none;	
}
save_status_and_button .edit_contact_done_btn {
	display: none;	
}
save_status_and_button .save_info {
	padding-top: 10px;
	margin-right: 10px;
}
#basic_info_form save_status_and_button a.mycelium_active_grey {
	font-size: 17px;
	padding: 7px 11px 5px 11px;
}
#user_access_table {
	width: 100%;
}
#user_access_table td {
	padding: 4px;
}
#user_access_table .access_level {
	white-space: nowrap;
}
#user_access_table .access_level ul {
	list-indent: 0px;
}
#user_access_table .access_level li {
	/*display: block;
	float: left;*/
	display: inline;
	padding: 4px;
	margin: 0px auto;
	text-decoration: none;
	list-style: none;
}
#user_access_table .access_level .fields {
	display: block;
	margin: 0px auto;
	width: auto;
}
#user_access_table .access_level {
	text-align: center;
}
.form_section {
	display: block;
	padding: 20px 0px;
}
.form_section section_label {
	display: block;
	margin-bottom: 10px;
	/*font-weight: bold;*/
	font-size: 18px;
}
.form_section.access_level .generic_field_label {
	display: none;
}
#add_a_user_box {
	margin-top: 10px;
}
.edit_mode_on .form_section  input {
	/*border-color: #AAA;*/
	background: transparent;
}
.account_info_form .edit_mode_on .form_section .generic_field_label {
	margin-top: 8px;
	color: #777;
}
form_actions input.mycelium_btn {
	padding: 6px 12px;
	border: 0px;
}
.account_info_form.edit_mode_on .form_section .generic_editable_field {
	min-width: 100px;
	margin-left: 10px;
}
.account_info_form.edit_mode_on .form_section .generic_editable_field input {
	min-width: 80px;
}
.all_fields_message {
	display: inline;
	margin-left: 10px;
	margin-top: 4px;
	color: #888;
}
tabbed_box box_content {
	background-color: #F4F4F4;
}
#container_id_first_name input {
	min-width: 120px;
}
#container_id_email input {
	min-width: 120px;
}
.edit_mode_on.account_info_form .generic_field_label {
	display: none;
}
.manage_account_info_page label {
	color: #333;
	width: 200px;
	display: block;
	float: left;
	clear: left;
}
.account_info_form {
	
}
form_field {
	display: block;
	padding: 5px 10px;
	clear: left;
}
.account_info_form form_field .edit_field input {
	margin-top: -5px;
	margin-left: -1px;
}
.coming_soon {
	display: block;
	padding: 20px 10px;
	color: #999;
	font-size: 20px;
}
.my_account_table {
	margin: 10px 10px;
	width: 70%;
	min-width: 300px;
	
}
.my_account_table .label_col {
	width: 25%;
	white-space: nowrap;
}
.my_account_table td {
	padding: 10px 5px;
}
.my_account_table .password_row .field_col {

}
.my_account_table .password_row #id_new_password {
	min-width: 150px;
}
.my_account_table .password_saved_message {
	margin: 0px 8px 0px 0px;
	display: block;
	float: left;
	font-size: 18px;
	color: #777;
}
#new_account .generic_field_label {
	top: 140%;
}
#new_account .generic_editable_field .edit_field input {
	min-width: 100px;
}
.expired_message {
	color: red;
	padding: 10px;
	width: 80%;
	
	border-radius: 4px;
	-moz-border-radius: 4px;	
}

.deactivated_message_header {
	color: red;
	padding: 10px;
	width: 80%;
	font-size: 18px;
	font-weight: bold;
}

.deactivated_message {
	padding: 10px;
	width: 80%;
}

delete_object_block input, delete_object_block a {
	float: left;
	margin: 5px;
}
.delete_page {
	font-size: 16px;
	line-height: 2em;
	padding: 10px;
}
form_field.account_deletion {
	margin-top: 30px;
}
.update_billing_form {
	display: block;
	background-color: #F2F2F2;
	padding: 0px 10px;
	margin: 0px 0px 30px 0px;
	border-radius: 4px;
	-moz-border-radius: 4px;	
	float: left;
	width: auto;
	display: none;
}
.update_billing_form .cancel_update_btn {
	margin-left: 20px;
}
.payment-errors {
	display: block;
	color: red;
	margin: 10px;
}
#subscription_submit {
	margin-top: 5px;
}
.update_billing_form .form_actions {
	display: block;
	padding: 10px;
}
.manage_account_info_page .update_billing_form label {
	width: 100px;
}
.manage_account_info_page .update_form_title {
	font-size: 16px;
	margin: 10px;
}