
.detail_header .header_actions {
	display: block;
	float: right;
	z-index: 200;
	right: 0px;
}
/*.detail_header .category_name.edit_mode_on .edit_field input {
	font-size: 24px;
}
*/
page_title {
	background-image: url("../images/icon-tags-black-40h.png");
	background-repeat: no-repeat;
	background-position: 10px 8px;
	padding-left: 74px;
	padding-top: 5px;
	margin-top: 10px;
	margin-bottom: 0px;
}
tagset {
	display: block;
	padding: 0px;
	width: 97%;
	margin: 0px auto 10px auto;
}
tagset .tag_list {
	width: 100%;
}
tagset .tag_list td {
	padding: 2px 4px;
}
tagset .tag_list .tag_name		{	width: 50%; padding-left: 10px;		}
tagset .tag_list .num_people	{	width: 40%; text-align: left;		}
tagset .tag_list .tag_actions	{	width: 10%; text-align: right;		}

tagset .tag_list .num_people .count	{	
	display: block;
	float: left;
	width: 100px;
	text-align: right;
	padding-right: 6px;
}

.generic_field_label {
	display: none;
}
.manage_tags .edit_mode_on .edit_field {
	margin: 0px;
}
.manage_tags .edit_mode_on .detail_header .edit_field {
	margin-bottom: 5px;
}
.detail_header, .detail_header input {
	font-size: 24px;
}

.manage_tags .edit_mode_on .detail_header .edit_field input {
	
}
.edit_mode_off .mycelium_delete_btn, .edit_mode_off .add_a_category_btn, .edit_mode_off .add_a_tag_btn, .edit_mode_off form_actions {
	display: none;
}
tagset form_actions{
	padding: 4px 10px;
}
.manage_tags .edit_mode_on .detail_header .generic_editable_field {
	width: 80%;
}
.tag_row.pre_delete td,  .detail_header.pre_delete, .tag_row.pre_delete td input, a.pre_delete {
	text-decoration: line-through;
	opacity: 0.6;
}
#basic_info_form {
	padding-bottom: 30px;
}