{% load i18n %}{% load cache cms_tags menu_tags current_page %}
{% block nav %}
<div id="nav_and_logo_container">
	<a id="logo" href="{% page_url "marketing_site_home" %}">
		GoodCloud
	</a>
<div id="main_nav">{% spaceless %}
	<a {% current_page_link_and_class request "marketing_site:home" "" %} >Home</a>
	<a {% current_page_link_and_class request "marketing_site:features" "" %} >Features</a>
	<a {% current_page_link_and_class request "marketing_site:tour" "" %} >Tour</a>
	<a {% current_page_link_and_class request "marketing_site:praise" "" %} >Praise</a>
	<a {% current_page_link_and_class request "accounts:signup" "" %} >Free Trial</a>
	
{% endspaceless %}</div
</div>
{% endblock %}