{% extends "mycelium_base.html" %}
{% block css %}{{block.super}}
{% css "/css/marketing_site.css" %}

{# 1140 #}
<!--[if lte IE 9]>{% css "/css/contrib/1140/ie.css" %}<![endif]-->
{% css "/css/contrib/1140/1140.css" %}
{% js "/js/contrib/css3-mediaqueries.js" %}
	
<!--[if lt IE 8]>
{% css "/css/ie7_marketing_site.css" %}
<![endif]-->
{% endblock %}
{% block javascript %}{{block.super}}
{% js "/js/contrib/jquery.scrollTo-min.js"%}
{% js "/js/contrib/jquery.toggleval.js"	%}
{% js "/js/mycelium/marketing_site.js"	%}
{% endblock %}
{% block content %}
	{% include "marketing_site/_top_nav.html" %}
	<div class="clearfix"></div>
	{% block page_content %}
	{% endblock %}
	{% include "marketing_site/_footer.html" %}	
{% endblock %}