{% extends "marketing_site/base.html" %}
{% load i18n generic_fields friendly_data_formatting  %}
{% block title %}Membership management features that small nonprofits actually need.{% endblock %}
{% block description %}We built GoodCloud collaboratively with small nonprofits, to do the things you do every day. Contact, volunteer, and donor tracking - it's all here.{% endblock %}


{% block page_header %}All the things you actually need.{% endblock %}

{% block page_content %}
<div id="side_nav" class="tabs features">
	<ul class="nav_links png_bg">
	 	<li><a href="#everything_in_one_place">Everything in one place</a></li>
	 	<li><a href="#know_your_people">Know your people</a></li>
	 	<li><a href="#save_money">Save money</a></li>
	 	<li><a href="#less_computer_time">Less computer-time</a></li>
	 	<li><a href="#gets_younger">Keeps getting better</a></li>
	 	<li><a href="#secure">Safe and secure</a></li>
 	</ul>

	<div class="tab_content company" id="everything_in_one_place">
		<div class="page_top_hook">Contacts, Donations, and Volunteers, all in one place.</div>
		<div class="row">
				
				<div class="centered_block"><img src="{% media_url "images/marketing-headache_vs_simple.png" %}" /></div>

				<p>Many small nonprofits have their information scattered across a number of systems: there's the contacts program, the volunteer log, the donors program, and the various lists of participants, major donors, and the people who are coming to Thursday's event.  </p>

				<p>Wouldn't it be nice if there was one place for all that information? Well, now there is.</p>



				<p>With GoodCloud, all of your nonprofit's core information has one home, accessible from anywhere. Even better, the information is actually <i>connected</i>. If you've ever wondered how many of your volunteers are also donors, you can now have that answer. </p>

				<p>If you've ever struggled with who has the latest version of a volunteer list, you can leave that headache behind. With GoodCloud, all of your lists are kept up to date in real-time.  We don't like headaches. We figure you don't either.</p>

		</div>
	</div>
	<div class="tab_content company" id="know_your_people">
		<div class="page_top_hook">Never forget a birthday. Or a conversation.</div>
		<p>Goodcloud makes it easy for you to know each of your people. People like:</p>
		<div id="example_people" class="tabs">
			<div class="example_people_navigation">
			<ul>
				<li><a href="#john" class="example_person_link john">John</a></li>
				<li><a href="#cindy" class="example_person_link cindy">Cindy</a></li>
				<li><a href="#will" class="example_person_link will">Will</a></li>
			</ul>
			</div>
			<div class="person_detail" id="john">
				<div class="name_and_role">
					<div class="name">John</div>
					<div class"role">Donor</div>
				</div>
				<div class="details">
					<ul>
						<li>John has given 6 times in the past year, totalling $8,150.</li>
						<li>Sara, the development director talked to John on April 14th of this year about our upcoming fundraiser.  John was interested in making a donation. He also just moved into a new house.</li>
						<li>His twitter feed is @johnsmith, and he’s been writing recently about his boy’s football team.</li>
						<li>Sara has a follow-up call scheduled for August 21.</li>
					</ul>
				</div>
			</div>
			<div class="person_detail" id="cindy">
				<div class="name_and_role">
					<div class="name">Cindy</div>
					<div class"role">Volunteer</div>
				</div>
				<div class="details">
					<ul>
						<li>Cindy has been trained to work with youth and seniors.</li>
						<li>She’s a part of the first Tuesdays volunteer group.</li>
						<li>She’s donated once per year for the last four years.</li>
						<li>She’s available Tuesdays, Thursdays, and Sundays.</li>
						<li>She turns 50 on September 11th.</li>
					</ul>
				</div>
			</div>
			<div class="person_detail" id="will">
				<div class="name_and_role">
					<div class="name">Will</div>
					<div class"role">Participant</div>
				</div>
				<div class="details">
					<ul>
						<li>Will has been involved with our organization for two years.</li>
						<li>He participated in the Spring 2011 and Fall 2011 sessions.</li>
						<li>Will has been a group leader.</li>
						<li>Will is interested in the Spring 2012 session.</li>
						<li>Will made a $30 donation after the Spring 2011 session.</li>
					</ul>
				</div>
			</div>
		</div>

		<p>Nonprofit staff are simply amazing at remembering people, faces, and interactions.  But wouldn't it be nice to not have to ask the development director about the last call before sending an email? </p>

		<p>With GoodCloud, it's easy to record the interactions you have with all the people your organizations touches. When the phone rings, you can be on the same page in a matter of seconds.</p>

	</div>
	<div class="tab_content company" id="save_money">
		<div class="page_top_hook">Costs less than the competitors.</div>
		<div class="row">
		<div class="feature spreadsheet">

Stop paying for servers, software upgrades, and IT help.
One system - no separate costs for donors, volunteers, and contact management
Priced to fit in a small nonprofit’s budget
how we got our price
No lock-in
Your time isn’t free.  Spend time fundraising, leveraging volunteer hours, and directly working on your mission instead of typing and clicking.

			<div class="title">Sometimes, you just need a spreadsheet.</div>
			<div class="description png_bg identical_height_block">We made it easy to download spreadsheets of anything in GoodCloud. When you’ve gotta make a chart/print a book/make program notes, GoodCloud gives you the data you need, and gets out of your way.</div>
		</div>

		<div class="feature data_import">
			<div class="title">Bring your data with you</div>
			<div class="description png_bg identical_height_block">You’ve got a system you’re using right now, and there’s no way we’d ask you to type everything in again. Our advanced data import tool makes it a snap to bring your current data into GoodCloud.</div>
		</div>
		</div>

	</div>
	<div class="tab_content company" id="less_computer_time">
		<div class="page_top_hook">Every minute at the computer is a minute away from your mission. Spend fewer of them.</div>
Unless your mission involves computers, chances are you'd rather not be staring at one.  One of our core goals in designing GoodCloud was to make the processes nonprofits do dozens of times a day really fast. Things like looking up a phone number or email, or printing a mailing label.  We've made it as quick and simple as possible to common tasks, so you can get in, get the information you need, and get on with your day.

		<div class="row">

		<div class="feature support">
			<div class="title">Real-people support</div>
			<div class="description png_bg identical_height_block">We answer the phone. And our email.  
	We know you don’t have an IT department, and you don’t want to spend your days futzing with a database.  That’s why we’re available anytime to answer questions, listen, and fix any issues you run into.</div>
		</div>
		<div class="feature cloud">
				<div class="title">We just keep getting better.</div>

				<div class="description png_bg identical_height_block">No more servers.
		The cloud has been transforming businesses for the last few years, and GoodCloud brings those benefits to small nonprofits. We’ll take care of managing and securing the servers - and leave you time to focus on your mission.</div>
		</div>

		</div>

		<div class="row">
			<div class="feature more_to_come">
				<div class="title">We're not done yet</div>
				<div class="description png_bg identical_height_block">We're not stopping until GoodCloud takes care of all of your computer headaches, without making any new ones. We've got features on the road-map for Develoment Directors, Volunteer Coordinators, Executive Directors, and Volunteers!</div>
			</div>
			<div class="">

			</div>
		</div>

	</div>
	<div class="tab_content company" id="gets_younger">
		
		<div class="page_top_hook">Software that gets better with time - for free.</div>

Cloud based
As GoodCloud keeps growing and improving, those features are rolled out for free

		<div class="row">


		<div class="feature support">
			<div class="title">Real-people support</div>
			<div class="description png_bg identical_height_block">We answer the phone. And our email.  
	We know you don’t have an IT department, and you don’t want to spend your days futzing with a database.  That’s why we’re available anytime to answer questions, listen, and fix any issues you run into.</div>
		</div>
		<div class="feature cloud">
				<div class="title">We're on the Cloud</div>
				<div class="description png_bg identical_height_block">No more servers.
		The cloud has been transforming businesses for the last few years, and GoodCloud brings those benefits to small nonprofits. We’ll take care of managing and securing the servers - and leave you time to focus on your mission.</div>
		</div>

		</div>

		<div class="row">
			<div class="feature more_to_come">
				<div class="title">We're not done yet</div>
				<div class="description png_bg identical_height_block">We're not stopping until GoodCloud takes care of all of your computer headaches, without making any new ones. We've got features on the road-map for Develoment Directors, Volunteer Coordinators, Executive Directors, and Volunteers!</div>
			</div>
			<div class="">

			</div>
		</div>

	</div>
	<div class="tab_content company" id="secure">
		
		<div class="page_top_hook">Secure access, constant backups.</div>

The page you're looking at right now? It's secure.  Just like every page in GoodCloud. We've made the security and integrity of your data one of our key concerns, and you can rest well knowing you're in good hands. 

SSL
PCI compliant datacenters

Constant backups


		<div class="row">


		<div class="feature support">
			<div class="title">Real-people support</div>
			<div class="description png_bg identical_height_block">We answer the phone. And our email.  
	We know you don’t have an IT department, and you don’t want to spend your days futzing with a database.  That’s why we’re available anytime to answer questions, listen, and fix any issues you run into.</div>
		</div>
		<div class="feature cloud">
				<div class="title">We're on the Cloud</div>
				<div class="description png_bg identical_height_block">No more servers.
		The cloud has been transforming businesses for the last few years, and GoodCloud brings those benefits to small nonprofits. We’ll take care of managing and securing the servers - and leave you time to focus on your mission.</div>
		</div>

		</div>

		<div class="row">
			<div class="feature more_to_come">
				<div class="title">We're not done yet</div>
				<div class="description png_bg identical_height_block">We're not stopping until GoodCloud takes care of all of your computer headaches, without making any new ones. We've got features on the road-map for Develoment Directors, Volunteer Coordinators, Executive Directors, and Volunteers!</div>
			</div>
			<div class="">

			</div>
		</div>

	</div>		
</div>

<a href="{% url accounts:signup %}" class="page_action png_bg">Try GoodCloud today!</a>
<div class="clearfix"></div>

{% endblock %}