{% extends "marketing_site/base.html" %}
{% load i18n generic_fields friendly_data_formatting  %}
{% block title %}Membership management features that small nonprofits actually need.{% endblock %}
{% block description %}We built GoodCloud collaboratively with small nonprofits, to do the things you do every day. Contact, volunteer, and donor tracking - it's all here.{% endblock %}


{% block page_header %}All the things you actually need.{% endblock %}

{% block page_content %}
<div id="side_nav" class="tabs features">
	<ul class="nav_links png_bg">
	 	<li><a href="#everything_in_one_place">Everything in one place</a></li>
	 	<li><a href="#know_your_people">Know your people</a></li>
	 	<li><a href="#save_money">Save money</a></li>
	 	<li><a href="#less_computer_time">Less computer-time</a></li>
	 	<li><a href="#gets_younger">Keeps getting better</a></li>
	 	<li><a href="#secure">Safe and secure</a></li>
 	</ul>

	<div class="tab_content company" id="everything_in_one_place">
		<div class="page_top_hook">Contacts, Donations, and Volunteers, all in one place.</div>
		<div class="row">
				Many small nonprofits have their information scattered across a number of systems: there's the contacts program, the volunteer log (paper or spreadsheet), the donors program, and the various lists of participants, major donors, and the people who are coming to Thursday's event.  Wouldn't it be nice if there was one place for all that information? Well, there is.

				img

				With GoodCloud, all of your nonprofit's core information has one home, accessible from anywhere. Even better, the information is actually <i>connected</i>. If you've ever wondered how many of your volunteers are also donors, you can now have that answer. 

				If you've ever struggled with who has the latest version of a volunteer list, you can leave that headache behind. With GoodCloud, all of your lists are kept up to date in real-time.  We don't like headaches. We figure you don't either.

				<div class="feature find_fast">
					<div class="title">Find people fast</div>
					<div class="description png_bg identical_height_block">The fastest, easiest contact lookup on this side of the galaxy.
			Nonprofits told us that looking up a phone number, email or address is something they do hundreds of times a day. We optimized GoodCloud to make finding a contact super-fast.</div>
				</div>
				
				<div class="feature full_contact">
					<div class="title">Full contact information </div>
					<div class="description png_bg identical_height_block">It’s all here - home and work addresses, organizations, employees, and email. We’ve even got support for the next generation of contact info, like twitter. You'll never lose an address again.</div>
				</div>
				</div>
				<div class="row">
				
				<div class="feature groups">
					<div class="title">Organize people the way you work</div>
					<div class="description png_bg identical_height_block">Intuitively create groups of people that fit your mission, and have them automatically stay up to date. Use your groups to contact people, send letters, and more. </div>
				</div>
				
				<div class="feature volunteer">
					<div class="title">Track volunteer hours</div>
					<div class="description png_bg identical_height_block">The year-end volunteer hours report just turned into one click. GoodCloud quickly and easily lets you log volunteer hours, automatically doing the math for you.</div>
				</div>
		</div>
	</div>
	<div class="tab_content company" id="know_your_people">
		<div class="page_top_hook">Never forget a birthday. Or a conversation.</div>
Goodcloud makes it easy for you to know each of your people. People like:
John, a donor, who
Sara, the dev dir talked to on april 14th of this year, about our upcoming fundraiser.  John has just moved into a new house.
John has given 6 times in the past year, totalling $8,150 
His twitter feed is @johnsmith, and he’s been writing recently about his boy’s football team.
Sara has a follow-up call scheduled for August 21
Cindy, a volunteer
Cindy has been trained to work with youth and seniors
She’s a part of the first tuesdays volunteer group
She’s donated once per year for the last four years
She’s available tuesdays, thursdays, and sundays
Will, a participant
Will has been involved with our organization for two years.
He participated in the spring 2011 and fall 2011 sessions.
Will has been a group leader.
Will is interested in the spring 2012 session.
Will made a $30 donation after the spring 2011 session.


		Nonprofit staff are simply amazing at remembering people, faces, and interactions.  But wouldn't it be nice to not have to ask the development director about the last call before sending an email? 

		With GoodCloud, it's easy to record the interactions you have with all the people your organizations touches. When the phone rings, you can be on the same page in a matter of seconds.


		<div class="row">
			<div class="feature donations">
				<div class="title">Easily record donations</div>
				<div class="description png_bg identical_height_block">Enter a donation once, then easily make reports and view summary statistics. Now it's easy to keep track of where the funding comes from, and plan for the future.</div>
			</div>

		<!--	<div class="feature thank_you_letters">
				<div class="title">Thank you letters</div>
				<div class="description png_bg identical_height_block">Create fields that fit your mission
		Every nonprofit is different - that’s why we’ve made it easy to set your own categories and tags for people, and integrated them throughout GoodCloud.</div>
			</div> 
		-->
			<div class="feature custom_tags">
				<div class="title">Make your own tags</div>
				<div class="description png_bg identical_height_block">Every nonprofit is different - that’s why we’ve made it easy to make your own categories and tags for people, and integrated your custom tags throughout GoodCloud.</div>
			</div>

		</div>
	</div>
	<div class="tab_content company" id="save_money">
		<div class="page_top_hook">Costs less than the competitors.</div>
		<div class="row">
		<div class="feature spreadsheet">
			
Stop paying for servers, software upgrades, and IT help.
One system - no separate costs for donors, volunteers, and contact management
Priced to fit in a small nonprofit’s budget
how we got our price
No lock-in
Your time isn’t free.  Spend time fundraising, leveraging volunteer hours, and directly working on your mission instead of typing and clicking.

			<div class="title">Sometimes, you just need a spreadsheet.</div>
			<div class="description png_bg identical_height_block">We made it easy to download spreadsheets of anything in GoodCloud. When you’ve gotta make a chart/print a book/make program notes, GoodCloud gives you the data you need, and gets out of your way.</div>
		</div>

		<div class="feature data_import">
			<div class="title">Bring your data with you</div>
			<div class="description png_bg identical_height_block">You’ve got a system you’re using right now, and there’s no way we’d ask you to type everything in again. Our advanced data import tool makes it a snap to bring your current data into GoodCloud.</div>
		</div>
		</div>

	</div>
	<div class="tab_content company" id="less_computer_time">
		<div class="page_top_hook">Every minute at the computer is a minute away from your mission. Spend fewer of them.</div>
Unless your mission involves computers, chances are you'd rather not be staring at one.  One of our core goals in designing GoodCloud was to make the processes nonprofits do dozens of times a day really fast. Things like looking up a phone number or email, or printing a mailing label.  We've made it as quick and simple as possible to common tasks, so you can get in, get the information you need, and get on with your day.

		<div class="row">

		<div class="feature support">
			<div class="title">Real-people support</div>
			<div class="description png_bg identical_height_block">We answer the phone. And our email.  
	We know you don’t have an IT department, and you don’t want to spend your days futzing with a database.  That’s why we’re available anytime to answer questions, listen, and fix any issues you run into.</div>
		</div>
		<div class="feature cloud">
				<div class="title">We just keep getting better.</div>

				<div class="description png_bg identical_height_block">No more servers.
		The cloud has been transforming businesses for the last few years, and GoodCloud brings those benefits to small nonprofits. We’ll take care of managing and securing the servers - and leave you time to focus on your mission.</div>
		</div>

		</div>

		<div class="row">
			<div class="feature more_to_come">
				<div class="title">We're not done yet</div>
				<div class="description png_bg identical_height_block">We're not stopping until GoodCloud takes care of all of your computer headaches, without making any new ones. We've got features on the road-map for Develoment Directors, Volunteer Coordinators, Executive Directors, and Volunteers!</div>
			</div>
			<div class="">

			</div>
		</div>

	</div>
	<div class="tab_content company" id="gets_younger">
		
		<div class="page_top_hook">Software that gets better with time - for free.</div>

Cloud based
As GoodCloud keeps growing and improving, those features are rolled out for free

		<div class="row">


		<div class="feature support">
			<div class="title">Real-people support</div>
			<div class="description png_bg identical_height_block">We answer the phone. And our email.  
	We know you don’t have an IT department, and you don’t want to spend your days futzing with a database.  That’s why we’re available anytime to answer questions, listen, and fix any issues you run into.</div>
		</div>
		<div class="feature cloud">
				<div class="title">We're on the Cloud</div>
				<div class="description png_bg identical_height_block">No more servers.
		The cloud has been transforming businesses for the last few years, and GoodCloud brings those benefits to small nonprofits. We’ll take care of managing and securing the servers - and leave you time to focus on your mission.</div>
		</div>

		</div>

		<div class="row">
			<div class="feature more_to_come">
				<div class="title">We're not done yet</div>
				<div class="description png_bg identical_height_block">We're not stopping until GoodCloud takes care of all of your computer headaches, without making any new ones. We've got features on the road-map for Develoment Directors, Volunteer Coordinators, Executive Directors, and Volunteers!</div>
			</div>
			<div class="">

			</div>
		</div>

	</div>
	<div class="tab_content company" id="secure">
		
		<div class="page_top_hook">Secure access, constant backups.</div>

The page you're looking at right now? It's secure.  Just like every page in GoodCloud. We've made the security and integrity of your data one of our key concerns, and you can rest well knowing you're in good hands. 

SSL
PCI compliant datacenters

Constant backups


		<div class="row">


		<div class="feature support">
			<div class="title">Real-people support</div>
			<div class="description png_bg identical_height_block">We answer the phone. And our email.  
	We know you don’t have an IT department, and you don’t want to spend your days futzing with a database.  That’s why we’re available anytime to answer questions, listen, and fix any issues you run into.</div>
		</div>
		<div class="feature cloud">
				<div class="title">We're on the Cloud</div>
				<div class="description png_bg identical_height_block">No more servers.
		The cloud has been transforming businesses for the last few years, and GoodCloud brings those benefits to small nonprofits. We’ll take care of managing and securing the servers - and leave you time to focus on your mission.</div>
		</div>

		</div>

		<div class="row">
			<div class="feature more_to_come">
				<div class="title">We're not done yet</div>
				<div class="description png_bg identical_height_block">We're not stopping until GoodCloud takes care of all of your computer headaches, without making any new ones. We've got features on the road-map for Develoment Directors, Volunteer Coordinators, Executive Directors, and Volunteers!</div>
			</div>
			<div class="">

			</div>
		</div>

	</div>		
</div>

<a href="{% url accounts:signup %}" class="page_action png_bg">Try GoodCloud today!</a>
<div class="clearfix"></div>

{% endblock %}