{% extends "marketing_site/base.html" %}
{% load i18n cache cms_tags menu_tags %}
{% block title %}GoodCloud: {% page_attribute page_title %}{% endblock %}
{% block head %}{{block.super}}
{% js "/js/mycelium/marketing_home.js" %}
{% endblock %}
{% block page_content %}
<div id="home_boxes">
	<div class="home_box built_for_nonprofits">
		<div class="title">Built for Small Nonprofits</div>
		<div class="description">
			GoodCloud was built in collaboration with small nonprofits, so it does the things you actually want.
		</div>
		<div class="action"><a href="#">Check out what it can do!</a></div>
	</div>
	<div class="home_box loved_by">
		<div class="title">Loved by Nonprofits</div>
		<div class="description">
			People love using GoodCloud. Small nonprofit staff and volunteers alike rave about how easy it is to use.
		</div>
		<div class="action"><a href="#">See what they had to say!</a></div>
	</div>
	<div class="home_box ready_to_go">
		<div class="title">Ready to go today</div>
		<div class="description">
			Sign up for a free trial account in less than 60 seconds. No strings, no hassle, no credit card.
		</div>
		<div class="action"><a href="#">Try GoodCloud now!</a></div>
	</div>


</div>
{% endblock %}