{% extends "marketing_site/base.html" %}
{% load i18n cache %}
{% block title %}Contact, volunteer, and donor management just for small nonprofits{% endblock %}
{% block description %}GoodCloud makes it easier to run your small nonprofit. Track people, donations, volunteers and more - it's superpowers for small nonprofits!{% endblock %}
{% block extra_body %}class="home_page"{% endblock %}

{% block page_header %}{% endblock %}

{% block page_content %}
<div id="home_boxes">
	<div class="container">

		<div id="overview_tabs" class="tabs">
			<div class="overview_tabs_navigation">
			<ul>
				<li><a href="#overview" class="overview_tab overview"><div class="name">Overview.</div></a></li>
				<li><a href="#built_for" class="overview_tab built_for_nonprofits"><div class="name">Built for Small Nonprofits.</div></a></li>
				<li><a href="#we_love" class="overview_tab loved_by"><div class="name">We &hearts; Nonprofits.</div></a></li>
				<li><a href="#ready_to_go" class="overview_tab ready_to_go"><div class="name">Ready to Go Today.</div></a></li>
			</ul>
			</div>
			<div class="person_detail" id="overview">
				<div class="name_and_role">
					<div class="name">John</div>
					<div class="role">Financial Advisor</div>
				</div>
				<div class="details">
					<ul>
						<li>Overview</li>
					</ul>
				</div>
			</div>
			<div class="person_detail" id="built_for">
				<div class="name_and_role">
					<div class="name">Cindy</div>
					<div class="role">Photographer</div>
				</div>
				<div class="details">
					<ul>
						<li>Cindy has been trained to work with youth and seniors.</li>
						<li>She’s a part of the first Tuesdays volunteer group.</li>
						<li>She’s donated once per year for the last four years.</li>
						<li>She’s available Tuesdays, Thursdays, and Sundays.</li>
						<li>She turns 50 on September 28th.</li>
					</ul>
				</div>
			</div>
			<div class="person_detail" id="we_love">
				<div class="name_and_role">
					<div class="name">Will</div>
					<div class="role">Waiter</div>
				</div>
				<div class="details">
					<ul>
						<li>Will has been involved with our organization for two years.</li>
						<li>He participated in the Spring 2011 and Fall 2011 sessions.</li>
						<li>Will has been a group leader.</li>
						<li>Will is interested in the Spring 2012 session.</li>
						<li>Will made a $30 donation after the Spring 2011 session.</li>
					</ul>
				</div>
			</div>
			<div class="person_detail" id="ready_to_go">
				<div class="name_and_role">
					<div class="name">Will</div>
					<div class="role">Waiter</div>
				</div>
				<div class="details">
					<ul>
						<li>Will has been involved with our organization for two years.</li>
						<li>He participated in the Spring 2011 and Fall 2011 sessions.</li>
						<li>Will has been a group leader.</li>
						<li>Will is interested in the Spring 2012 session.</li>
						<li>Will made a $30 donation after the Spring 2011 session.</li>
					</ul>
				</div>
			</div>			
		</div>

	</div>
</div>
{% endblock %}