{% extends "marketing_site/base.html" %}
{% load i18n generic_fields friendly_data_formatting  %}
{% block title %}Tour - watch GoodCloud in action, and hear what motivates our team!{% endblock %}
{% block description %}Watch a video interview with GoodCloud's CEO, and see how it helps nonprofits organize and run more easily!{% endblock %}

{% block page_header %}Watch it in action.{% endblock %}

{% block page_content %}

<div id="side_nav" class="tabs features">
	<ul class="nav_links png_bg">
	 	<li><a href="#video_tour">Video Tour</a></li>
	 	<li><a href="#pictures_and_words">Pictures and Words</a></li>
 	</ul>

	<div class="tab_content" id="video_tour">
			<div class="page_top_hook">What motivates us, and a quick look around.</div>

			<div class="tour_video">
			<iframe class="video_box" src="http://player.vimeo.com/video/23807297?title=0&amp;byline=0&amp;portrait=0" width="640" height="360" frameborder="0"></iframe>
			{# <iframe class="video_box" width="640" height="390" src="https://www.youtube.com/embed/PvTsZfx2zZs?rel=0" frameborder="0" allowfullscreen></iframe> #}
			{# <img src="{% media_url "images/video-coming-soon.png" %}"/> #}
			</div>
			<p>Watch the video above to see a quick interview with one of our co-founders, and a look around GoodCloud. We'll go through people, addresses, donations, volunteer shifts, tags, and groups - in under three minutes! Whew!</p>

	</div>
	<div class="tab_content company" id="pictures_and_words">
		<div class="page_top_hook">More than just some pretty screenshots.</div>

		<p>Here's a few pages from within GoodCloud. Of course, the best way to experience them is to <a href="{% url accounts:signup %}">sign up for a free trial!</a>  No risk, no credit card, nada.  We invite you to see these screens with your own donors and volunteers, and see if GoodCloud really isn't the easiest solution you've used.</p>

		Screenshots:
		Top bar search
		People view
		People edit
		add volunteer shift
		add donation
		tags
		manage tags
		group list
		group edit
		spreadsheet edit
		admin

	</div>
</div>	


<div class="clearfix"></div>
<a href="{% url accounts:signup %}" class="page_action png_bg">Now, try it out yourself!</a>

{% endblock %}