{% extends "marketing_site/base.html" %}
{% load i18n generic_fields friendly_data_formatting  %}
{% block title %}GoodCloud Features - how GoodCloud can help your nonprofit.{% endblock %}

{% block page_content %}
<div class="page_header">Watch it in action</div>

<div class="tour_video">
{# <iframe src="http://player.vimeo.com/video/VIDEO_ID" width="WIDTH" height="HEIGHT" frameborder="0"></iframe> #}
<iframe width="640" height="390" src="https://www.youtube.com/embed/PvTsZfx2zZs?rel=0" frameborder="0" allowfullscreen></iframe>
{# <img src="{% media_url "images/video-coming-soon.png" %}"/> #}
</div>

<div class="clearfix"></div>
<a href="{% url accounts:signup %}" class="page_action">Now, try it out yourself!</a>

{% endblock %}