{% extends "marketing_site/base.html" %}
{% load i18n generic_fields friendly_data_formatting  %}
{% block title %}Tour - watch GoodCloud in action, and hear what motivates our team!{% endblock %}
{% block description %}Watch a video interview with GoodCloud's CEO, and see how it helps nonprofits organize and run more easily!{% endblock %}
{% block page_header %}Watch it in action.{% endblock %}

{% block page_content %}
<div id="section" class=" features">
	<ul class="nav_links png_bg">
	 	<li><a href="{% url marketing_site:tour %}">Video Tour</a></li>
	 	<li><a href="{% url marketing_site:screenshots %}">Screenshots</a></li>
	 	<li  class="ui-tabs-selected ui-state-active"><a href="{% url marketing_site:webinar %}">Weekly Webinar</a></li>
 	</ul>

	<div class="tab_content" id="video_tour">
			<div class="page_top_hook">Everything's better with a good tour guide.</div>
			<div class="feature">
<p>Sometimes, the best way to learn your way around is a quick tour from someone who knows the landscape.  That's why we offer free weekly webinars, to get you up-and-running quickly.</p>
<p>You'll get an end-to-end introduction to GoodCloud, and have the opportunity to ask questions.</p>

<p>We hold the webinars every week on:</p>
<ul>
	<li>Wednesday from 1:00-1:30 p.m. PST, and</li>
	<li>Friday from 10:00-10:30 p.m. PST.</li>
</ul>

<p>To sign up or learn more, <a href="mailto:support@agoodcloud.com">drop us an email</a>!</p>
</div>
</div>
</div>	


<div class="clearfix"></div>
{% endblock %}