{% load i18n generic_fields friendly_data_formatting humanize generic_tag_tags %}
<tab_contents class="people_volunteer_tab">
<table class="two_column_70_30">
<tr>
<td class="column_1">
	<div class="detail_header">Volunteer Hours</div>
	<tabbed_box class="with_button closed" name="add_a_volunteer_shift">
		<tab_title_container>	
		<tab_title>
			<text>Add a Volunteer Hours</text>
		</tab_title>
		</tab_title_container>
		<box_content>
		<form id="new_completed_volunteer_shift" action="{% url volunteers:save_completed_volunteer_shift person.volunteer.pk %}" method="POST">{% csrf_token %}
		<span class="edit_mode_on">
			<div class="sentence">
			<span class="sentence_fragment">Add</span>
			<span class="duration">{{new_shift_form.duration}}</span> 
			<span class="sentence_fragment">hours on</span>
			<span class="date">{{new_shift_form.date}}</span> 
{# 			<span class="sentence_fragment">for</span> #}
{# 			<span class="shift">{{new_shift_form.shift}}</span> #}
			<span class="sentence_fragment">. </span>
			</div>
			</span>
			
			<form_actions>
				<input type="submit" class="mycelium_btn add_shift_btn" value="Add Hours">
			</form_actions>
			<box_close>
				<a href="#" class="mycelium_btn mycelium_grey cancel_add_btn">Cancel</a>
			</box_close>

		</form>
		</box_content>
	</tabbed_box>
		
	{% if person.volunteer.completed_shifts_by_year|length > 0 %}
	<div class="detail_header recent_volunteer_header">Recent</div>
	<table class="volunteer_shift_table striped">
		{% for cs in person.volunteer.completed_shifts|slice:":3" %}
			{% include "volunteers/_completed_volunteer_shift_row.html" %}
		{% endfor %}
	</table>
	
	{% endif %}

	<div class="detail_header">Historical Totals</div>
	<table class="volunteer_shift_table striped">
		{% for year_of_shifts in person.volunteer.completed_shifts_by_year %}
		<tr class="year_overview">
			<td class="year">{{year_of_shifts.year}}</td>
			<td class="total_shifts">{{year_of_shifts.total_shifts|floatformat:"0"}} shift{{year_of_shifts.total_shifts|pluralize}}</td>
			<td class="total_hours">{{year_of_shifts.total_hours|floatformat:"0"}} hour{{year_of_shifts.total_hours|pluralize}}</td>
			<td class="details_link"><a href="#" class="year_details_link">See details</a></td>
		</tr>
		<tr class="year_of_shifts">
			<td colspan="4" >
				<table class="year_of_volunteer_shifts_table striped">
					{% for cs in year_of_shifts.shifts %}
						{% include "volunteers/_completed_volunteer_shift_row.html" %}
					{% endfor %}
				</table>
			</td>
		</tr>
		{% empty %}
			<div class="no_records_message">No volunteer shifts yet!</div>
		{% endfor %}
	</table>
</td>
<td class="column_2">
<div class="status_and_skills">
<form id="volunteer_status_and_skills" class="edit_mode_on" action="{% url volunteers:save_status person.volunteer.pk %}" method="POST">
	<div class="detail_header">Status</div>
	<div class="status_field">{% generic_editable_field status_form.status %}</div>
	<div class="reactivation_date"><span class="question_label">Until</span> {% generic_editable_field status_form.reactivation_date %}</div>
</form>	
</div>
</td>
</tr>
</table>
</tab_contents>