{% load i18n %}<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
	<title>{% trans "That page doesn't exist!"%}</title>
</head>
<body>
	
	<div id="temporary_message">
	<h1>{% trans "I checked, it's not here."%}</h1>

	<div class="detail_text">
	{% trans "Looks like we've don't have that page."%}<br/><br/>
	{% trans "Sorry about that - we've been emailed about your error, and will be working on it shortly!"%}</a>.
	<br/><br/>
	{% trans "Thanks!"%}
	</div>
	</div>
	<br/><br/>	
</body>
</html>
