{% load i18n %}<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
	<title>{% trans "500 Error - Unable to load the requested page!"%}</title>
	<link rel="stylesheet" href="https://goodcloud1.s3.amazonaws.com/css/main.css" type="text/css" media="screen" title="" charset="utf-8">
	<link rel="stylesheet" href="https://goodcloud1.s3.amazonaws.com/css/error_pages.css" type="text/css" media="screen" title="" charset="utf-8">
</head>
<body>
	
	<div id="error_message">
	<div class="adorable_image">
	<img src="https://goodcloud1.s3.amazonaws.com/images/icon-raincloud-400.png" />
	</div>
	<div class="detail_box">
	<h1>How Embarrassing. We ran into problems loading that page.</h1>

	<div class="detail_text">
	After the last action you took, GoodCloud had a problem loading the page to send back to you.<br/><br/>

	The good news - we've been emailed with the details of what went wrong, and will be getting whatever happened fixed up!<br/>
	The bad news - if you were trying to change something, or take an action, those changes may or may not have gone through. Please check, and make sure!
	<br/><br/>
	We're sorry.  If you're running into this on a consistent basis, or just want to talk, as always, feel free to send us an email, or give us a call!<br/><br/>

	Some useful places to go from here:
	<ul>
	<li><a href="javascript:window.history.go(-1);">Back to the last page you were on</a></li>
	<li><a href="{% url marketing_site:home %}">GoodCloud Home</a></li>
	</ul>
	</div>
	</div>
	</div>
</body>
</html>
