{% extends "base.html" %}
{% block css %}{{block.super}}
	{% css "css/mycelium_base.css" %}
{% endblock %}
{% block base_js %}{% js "js/mycelium_base.js" %}{% endblock %}
{% block javascript %}{{block.super}}
	{% js "js/mycelium_core.js" %}
<script>
var GLOBAL_SEARCH_URL = "{% url core:search_results %}";
</script>
{% endblock %}
{% block content %}
	{% block nav %}
{# 	<logo>GoodCloud</logo> #}
	{% spaceless %}<main_nav>
		<a href="{% url dashboard:dashboard %}" class="logo">
			<span class="account_name"><p>{{request.account.name}}</p></span>
		</a>

		<input type="search" id="global_search" name="global_search" placeholder="Search for anything..." />
		<div class="username_and_logout">
			<a href="{% url accounts:my_account %}" class="my_account_btn" >My Account</a>


			<a href="{% url accounts:logout %}" class="logout_btn" >Logout</a>
		</div>
	</main_nav>
	<div id="global_search_results"><fragment name="global_search_results" action="replace"></fragment></div>
	<side_nav>
		{% if request.account.has_billing_issue %}
			{% if request.useraccount.is_admin %}<a href="{% url accounts:manage_account %}" class="side_account_expired_link">{% endif %}
			<div id="expired_side_bar">Billing Problem</div>
			{% if request.useraccount.is_admin %}</a>{% endif %}
		{% endif %}
		<div class="nav_title"></div>
		<a href="{% url dashboard:dashboard %}" class="nav_btn dashboard {% if section == "dashboard" %}current{% endif %}">Dashboard</a>
		<a href="{% url people:search %}" class="nav_btn people {% if not section %}current{% endif %}">People</a>
		<a href="{% url organizations:search %}" class="nav_btn organizations {% if section == "organizations" %}current{% endif %}">Organizations</a>
		<a href="{% url groups:search %}" class="nav_btn groups {% if section == "groups" %}current{% endif %}">Groups</a>
		<a href="{% url spreadsheets:search %}" class="nav_btn spreadsheets {% if section == "spreadsheets" %}current{% endif %}">Spreadsheets</a>
		{# <a href="{% url spreadsheets:search %}" class="nav_btn spreadsheets {% if section == "spreadsheets" %}current{% endif %}">Donations</a> #}
		{# <a href="{% url spreadsheets:search %}" class="nav_btn spreadsheets {% if section == "spreadsheets" %}current{% endif %}">Volunteers</a> #}
		{# <a href="#">Events</a> #}
		{# <a href="#">Communicate</a> #}

		{% if request.useraccount.is_admin %}
				<a href="{% url core:more_menu %}" class="admin_btn admin nav_btn {% if section == "admin" %}current{% endif %}" >Admin</a>				
		{% endif %}
		
		<a href="#" class="help_btn help nav_btn">Help</a>

		<footer>
		{% block footer %}
		<a href="https://www.agoodcloud.com">Powered by <footer_icon><span>GoodCloud</span></footer_icon></a>
		{% endblock %}
		</footer>		
	</side_nav>{% endspaceless %}
	
	{% endblock %}
	
	{% block page %}
	<main_content>
	<div id="page">
	{# {% block breadcrumb %}<div class="breadcrumb_container"><breadcrumb>{% block breadcrumb_links %}{% endblock %}</breadcrumb></div>{% endblock %} #}
	{% block page_content %}
	
	{% endblock %}
	</div>
	</main_content>
	{% endblock %}
	<script type="text/javascript">
	  (function() {
	    var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
	    uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/AwQUXURGT97r7ts4zvEIaA.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
	  })();
	</script>
{% endblock %}