{% extends "base.html" %}
{% block head %}{{block.super}}
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/mycelium_elements.css" type="text/css" media="screen" title="" charset="utf-8">
<script type="text/javascript" charset="utf-8" src="{{MEDIA_URL}}js/contrib/jquery.scrollTo-min.js"> </script>
<script type="text/javascript" charset="utf-8" src="{{MEDIA_URL}}js/contrib/jquery.toggleval.js"> </script>
<script type="text/javascript" charset="utf-8" src="{{MEDIA_URL}}js/contrib/jquery.hotkeys-0.7.9.min.js"> </script>
<script type="text/javascript" charset="utf-8" src="{{MEDIA_URL}}js/contrib/jquery.ajax.queue.js"> </script>
<script type="text/javascript" charset="utf-8" src="{{MEDIA_URL}}js/contrib/jquery.autogrow.js"> </script>

<script type="text/javascript" charset="utf-8">
</script>
{% endblock %}
{% block content %}
	<span id="test_badge"></span>
	{% block nav %}
	<logo>
		GoodCloud
	</logo>
	<main_nav>{% spaceless %}
		<a href="{% url people:search %}" {% if not section %}class="current"{% endif %}>People</a>
		<a href="#">Fund{# Multiply #}</a>
		<a href="{% url reports:search %}" class="{% if section == "reports" %}current{% endif %}" >Reports{# Yardstick #}</a>
		<a href="#">Communicate{# Soapbox #}</a>
		<a href="#">Events{# Shindig #}</a>
		<a href="{% url core:more_menu %}" class="{% if section == "more" %}current{% endif %}">More</a>
	{% endspaceless %}</main_nav>
	{% endblock %}
	
	{% block page %}
	<div id="page">
	{% block page_content %}
	
	{% endblock %}
	</div>
	
	<footer>
	{% block footer %}
	<a href="http://www.agoodcloud.com">Powered by <img src="{{MEDIA_URL}}images/goodcloud-logo-24.png">GoodCloud</a>
	{% endblock %}
	</footer>
	{% endblock %}
{% endblock %}