{% extends "base.html" %}
{% block head %}{{block.super}}
<script type="text/javascript" charset="utf-8" src="{{MEDIA_URL}}js/contrib/jquery.scrollTo-min.js"> </script>
<script type="text/javascript" charset="utf-8" src="{{MEDIA_URL}}js/contrib/jquery.toggleval.js"> </script>
<script type="text/javascript" charset="utf-8">
$(function(){
	{% if posted %}
		$("#hi_content").scrollTo(".welcome_text");
	{% else %}
	$("#question a").click(function(){
		$("#hi_content").scrollTo(".welcome_text", 1000);
		$("#question").animate({opacity:0},200)
		return false;
	});
	$("#question").animate({opacity:0},0).show();
	setTimeout(fade_in_question, 4000)
	setTimeout(function(){	$("#hi_content").mousemove(fade_in_question)}, 400)
	$('#id_email').toggleVal({populateFrom:"custom", text:"interested@great-nonprofit.org"}).addClass("prefilled");
	// $("#id_email").mouseover(function(){
	// 	$(this).addClass("hovered", 600)
	// });
	// $("#id_email").mouseleave(function(){
	// 	$(this).removeClass("hovered", 600)
	// });	
	// $("#id_submit").mouseover(function(){
	// 	$(this).addClass("hovered", 600)
	// });
	// $("#id_submit").mouseleave(function(){
	// 	$(this).removeClass("hovered", 500)
	// });	
	// 
	{% endif %}

});
var fade_started = false;
function fade_in_question(){
	if (!fade_started) {
		$("#question").animate({opacity:1},1000);
		fade_started = true;
	}
}
</script>
{% endblock %}
{% block content %}
<div id="hi_content">
<div class="hi_text">Hi!</div>
<div class="welcome_text">Welcome to GoodCloud.</div>
<div id="question" style="display: none"><a href="#answer">What's GoodCloud?</a></div>
<div id="answer">
	<p class="and_a_half">We're a small company.</p>
	<p>We make great software <br/>
	exclusively for non-profits.</p>

	<div class="more_info">We're in active development on our first product. You can find out more at <a href="{% url blog_home %}">Our Blog</a>, or by signing up to be notified below. Thanks for stopping by!</div>
	{% if posted and save_success %}
		<div class="thanks_message">Thanks! We'll let you know as soon as it's ready!</div>
	{% else %}
	<form action="" method="POST">{% csrf_token %}
		{{form.email}}
		<input id="id_submit" type="submit" value="Save Email" />
	</form>
	<div class="email_terms">We hate spam, too. We'll only use your email to notify you when a new product comes out.</div>
	{% endif %}
</div>
</div>
{% endblock %}