{% extends "base.html" %}

{% block javascript %}
{% endblock %}

{% block css %}
	<style>
		.postback {
			font-family: Arial, sans-serif;
			padding: 40px 5%;
			text-align: center;
			width: 90%
		}
		.saved_header {
			text-align: center;
			font-size: 30px;
		}
		.click_the_x {
			text-align: center;
			padding: 20px;
		}
	</style>
{% endblock %}

{% block content %}
<div class="postback">
	<div class="saved_header">Billing information saved.</div>
	<div class="click_the_x">You can now click the "x" in the bottom right to close this window.</div>
</div>
{% endblock %}