<div id="help_popup">
<div id="help_popup_content">
<a href="#" class="close_help_popup_btn">x</a>
<div class="help_header">We're here to make life easier.</div>

<p class="help_subheader">Need some help, or have an idea?  Let us know!  You can:</p>

<div class="mycelium_btn more_button phone"> 
	<div class="button_title">Call 503 308-1460.</div>
	<div class="button_description">We answer the phone. If we happen to miss you, we'll call right back.</div>
</div>

<a href="mailto:support@agoodcloud.com" class="mycelium_btn more_button email"> 
	<div class="button_title">Email Us.</div>
	<div class="button_description">Our email address is support@agoodcloud.com, or you can just click here.</div>
</a>

<div class="mycelium_btn more_button online help_btn"> 
	<div class="button_title">Type it in right here.</div>
	<div class="button_description">Your feedback and ideas go directly into our development roadmap.</div>
</div>
</div>
</div>