{% extends "mycelium_base.html" %}
{% load i18n generic_fields friendly_data_formatting %}
{% block title %}More Tools - Data Import, Account Settings, and more{% endblock %}
{% block css %}{{block.super}}
{% compress css %}
	<link rel="stylesheet" href="{{STATIC_URL}}css/more.css" type="text/css" media="screen, projection"/>
{% endcompress %}
{% endblock %}
{% block breadcrumb %}{% endblock %}
{% block page_content %}
<div class="more_buttons">
	<div class="more_row">
	<a href="{% url data_import:list %}" class="mycelium_btn more_button data_import_btn">
		<div class="button_title">Data Import</div>
		<div class="button_description">Import records from other systems into GoodCloud</div>
	</a>
	<a href="{% url generic_tags:manage %}" class="mycelium_btn more_button tag_button">
		<div class="button_title">Tags</div>
		<div class="button_description">Manage Tags and Tag Categories</div>
	</a>
	</div>
	{% if request.useraccount.is_admin %}
	<div class="more_row">
	<a href="{% url accounts:manage_users %}" class="mycelium_btn more_button users_button">
		<div class="button_title">Users</div>
		<div class="button_description">Create, edit, and set access for user accounts</div>
	</a>
	<a href="{% url accounts:manage_account %}" class="mycelium_btn more_button account_button">
		<div class="button_title">GoodCloud Account</div>
		<div class="button_description">Update billing and account information</div>
	</a>
	</div>
	{% endif %}
	<div class="more_row">
	<a href="{% url accounts:my_account %}" class="mycelium_btn more_button my_account_button">
		<div class="button_title">My Account</div>
		<div class="button_description">Update username, password, and contact info</div>
	</a>
	{# {% if request.account.has_alpha_access %}  #}
	{# <a href="{% url rewrite:manage_home %}" class="mycelium_btn more_button website_button">  #}
	{# 	<div class="button_title">Website and Blog</div>  #}
	{# 	<div class="button_description">Update your website or blog</div>  #}
	{# </a>  #}
	{# {% endif %}  #}

	</div>
<!--	<div class="more_row">
		<a href="{% url logo_maker:list_logos %}" class="mycelium_btn more_button logo_button">
			<div class="button_title">Logos</div>
			<div class="button_description">Download resized versions of your logo for other sites</div>
		</a>
	</div>
-->
</div>
{% endblock %}