{% extends "mycelium_base.html" %}
{% load i18n generic_fields friendly_data_formatting %}
{% block title %}More Tools - Data Import, Account Settings, and more{% endblock %}
{% block css %}{{block.super}}
	{% css "css/more.css" %}
{% endblock %}
{% block breadcrumb %}{% endblock %}
{% block page_content %}
<div class="more_buttons">
	<div class="more_row">
	<a href="{% url import:list %}" class="mycelium_btn more_button data_import_btn">
		<div class="button_title">Data Import</div>
		<div class="button_description">Import records from other systems into GoodCloud</div>
	</a>
	<a href="{% url accounts:manage_users %}" class="mycelium_btn more_button account_button">
		<div class="button_title">Account</div>
		<div class="button_description">Update billing and account information</div>
	</a>
	</div>
	<div class="more_row">
	<a href="{% url reports:search %}" class="mycelium_btn more_button reports_btn">
		<div class="button_title">Spreadsheets</div>
		<div class="button_description">Create and download custom spreadsheets</div>
	</a>
	<a href="#" class="mycelium_btn more_button users_button">
		<div class="button_title">Users</div>
		<div class="button_description">Create, edit, and set access for user accounts</div>
	</a>
	</div>
	<div class="more_row">
	<a href="{% url logo_maker:list_logos %}" class="mycelium_btn more_button logo_button">
		<div class="button_title">Logos</div>
		<div class="button_description">Download resized versions of your logo for other sites</div>
	</a>
	<a href="{% url generic_tags:manage %}" class="mycelium_btn more_button tag_button">
		<div class="button_title">Tags</div>
		<div class="button_description">Manage Tags and Tag Categories</div>
	</a>

	</div>
</div>
{% endblock %}