{% extends "mycelium_base.html" %}
{% load i18n generic_fields friendly_data_formatting %}
{% block title %}More Tools - Data Import, Account Settings, and more{% endblock %}
{% block head %}{{block.super}}
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/more.css" type="text/css" media="screen" title="" charset="utf-8">
{% endblock %}
{% block page_content %}
	<a href="{% url import:list %}" class="mycelium_btn more_button data_import_btn">
		<div class="button_title">Data Import</div>
		<div class="button_description">Import records from other systems into GoodCloud</div>
	</a>
{% endblock %}