{% load generic_fields %}{% spaceless %}
<span class="generic_editable_field" id="container_id_{{field.html_name}}">
	{% if not hide_view %}<span class="view_field">{% if generic_editable_view_override %}{{generic_editable_view_override}}{% else %}{{field|field_value}}{% endif %}</span>{% endif %}
	{% if not hide_edit %}<span class="edit_field">{% if generic_editable_edit_override %}{{generic_editable_edit_override}}{% else %}{{field}}{% endif %}<div class="generic_field_label">{{field.label}}</div></span>{% endif %}
</span>
{% endspaceless %}