<div class="detail_header">Recent Volunteer Activity for {{person}}</div>
{# add btn #}
<table class="volunteer_shift_table striped">
	<tr>
		<td>3 hours</td>
		<td>last wednesday</td>
		<td>on Office Shift</td>
	</tr>
	<tr>
		<td>2 hours</td>
		<td>Nov 26</td>
		<td>on Tabling</td>
	</tr>
	<tr>
		<td>6 hours</td>
		<td>Nov 14</td>
		<td>on Training</td>
	</tr>
</table>
<div class="detail_header">All Volunteer Activity</div>
{# add btn #}
<table class="volunteer_shift_table striped">
	<tr>
		<td>2010</td>
		<td>83 hours</td>
		<td><a href="#">See details</a></td>
	</tr>
	<tr>
		<td>2009</td>
		<td>136 hours</td>
		<td><a href="#">See details</a></td>
	</tr>
	<tr>
		<td>2008</td>
		<td>42 hours</td>
		<td><a href="#">See details</a></td>
	</tr>
	
</table>