{% extends "base.html" %}
{% block title %}Log in to GoodCloud{% endblock %}
{% block css %}{{block.super}}
{% compress css %}
	<link rel="stylesheet" href="{{STATIC_URL}}css/style.css" type="text/css" media="screen, projection"/>
	<link rel="stylesheet" href="{{STATIC_URL}}css/main.css" type="text/css" media="screen, projection"/>
	<link rel="stylesheet" href="{{STATIC_URL}}css/contrib/jquery-ui-1.8.10.custom.css" type="text/css" media="screen, projection"/>
	<link rel="stylesheet" href="{{STATIC_URL}}css/mycelium_elements.css" type="text/css" media="screen, projection"/>
	<link rel="stylesheet" href="{{STATIC_URL}}css/contrib/fileuploader.css" type="text/css" media="screen, projection"/>
	<link rel="stylesheet" href="{{STATIC_URL}}css/contrib/colorbox.css" type="text/css" media="screen, projection"/>
	<link rel="stylesheet" href="{{STATIC_URL}}css/login.css" type="text/css" media="screen, projection"/>
{% endcompress %}
{% endblock %}

{% block nav %}{% endblock %}
{% block footer %}{% endblock %}
{% block content %}
{% include "accounts/_name_and_subdomain.html" %}
<div class="single_dialog">
{% block dialog_content %}

	
{% endblock dialog_content %}
</div>
{% endblock %}