{% extends "base.html" %}
{% block title %}Log in to GoodCloud{% endblock %}
{% block css %}{{block.super}}
<link rel="stylesheet" href="{{STATIC_URL}}css/mycelium_base.css" type="text/css" media="screen, projection"/>
<link rel="stylesheet" href="{{STATIC_URL}}css/login.css" type="text/css" media="screen, projection"/>
{% endblock %}

{% block nav %}{% endblock %}
{% block footer %}{% endblock %}
{% block content %}
{% include "accounts/_name_and_subdomain.html" %}
<div class="single_dialog">
{% block dialog_content %}

	
{% endblock dialog_content %}
</div>
{% endblock %}