{% extends "accounts/base_login.html" %}

{% block dialog_content %}
	<div class="welcome_message">Welcome to GoodCloud!</div>
	<form method="post" action="{% url accounts:login %}">
	{% csrf_token %}
	<field>
	<label>Username:</label><input type="text" name="username" placeholder="Username" maxlength="25" autofocus>
	</field>
	<field>
	<label>Password:</label><input type="password" name="password" placeholder="Password">
	</field>
	<actions>
		{% if form.errors %}
		<div class="login_error">Your username and password didn't match. Please try again.</div>
		{% endif %}
		<input type="submit" value="Log In" class="mycelium_btn login_btn auto_disable" disabled_text="Logging in.." />
	</actions>
	<input type="hidden" name="next" value="{% if next %}{{ next }}{% else %}{% endif %}" />
	</form>
{% endblock %}