{% extends "accounts/base_login.html" %}

{% block javascript %}{{block.super}}
{% compress js %}
	<script type="text/javascript">
		$(function(){
			var version = parseInt($.browser.version, 10);
			if ( ($.browser.msie && version < 9) || ($.browser.mozila && version < 3) || ($.browser.webkit && version < 200) ) {
				$(".unsupported_browser").show();
			}
		});
	</script>
{% endcompress %}
{% endblock %}
{% block css %}{{block.super}}
{% compress css %}
<!--[if lt IE 9 ]>
	<style type="text/css">
		.unsupported_browser {
			display: block;
		}
		.unsupported_browser .browser_option.first {
			margin-left: 2%;
		}
		.field {
			width: 80%;
		}
	</style>
<![endif]-->
{% endcompress %}
{% endblock %}

{% block dialog_content %}
	<div class="welcome_message">Welcome to GoodCloud!</div>
	<form method="post" action="{% url accounts:login %}">
	{% csrf_token %}
	<div class="field">
	<label>Username:</label><input type="text" name="username" placeholder="Username" maxlength="25" autofocus>
	</div>
	<div class="field">
	<label>Password:</label><input type="password" name="password" placeholder="Password">
	</div>
	<div class="unsupported_browser">
		<div class="warning_title">Hang on there!</div>
		<div class="warning_body">You're using an unsupported browser.  GoodCloud was built on next-generation tech to make it faster and more secure. To use GoodCloud, you'll need one of these:</div>
		<div class="browser_options">
			<a href="http://www.google.com/chrome/" target="_blank" class="png_bg browser_option chrome first">
				<div class="browser_name">Google Chrome</div>
			</a>
			<a href="http://www.firefox.com" target="_blank" class="png_bg browser_option firefox">
				<div class="browser_name">Mozilla Firefox</div>
			</a>
			<a href="http://www.apple.com/safari/" target="_blank" class="png_bg browser_option safari">
				<div class="browser_name">Apple Safari</div>
			</a>
			<a href="http://www.microsoft.com/IE9" target="_blank" class="png_bg browser_option ie">
				<div class="browser_name">Microsoft IE 9+</div>
			</a>
		</div>
	</div>
	<div class="actions">
		{% if form.errors %}
		<div class="login_error">Your username and password didn't match. Please try again.</div>
		{% endif %}
		<input type="submit" value="Log In" class="mycelium_btn login_btn auto_disable" disabled_text="Logging in.." />
	</actions>
	<input type="hidden" name="next" value="{% if next %}{{ next }}{% else %}{% endif %}" />
	</form>
{% endblock %}