{% extends "mycelium_base.html" %}
{% load i18n i18n generic_fields friendly_data_formatting generic_tag_tags %}
{% block title %}More Tools - Data Import, Account Settings, and more{% endblock %}
{% block css %}{{block.super}}
{% generic_field_css %}

{% css "/css/manage_accounts.css" %}
{% endblock %}
{% block javascript %}{{block.super}}

{% js "/js/mycelium/manage_accounts.js" %}
{% endblock %}

{% block breadcrumb_links %}<a href="{% url core:more_menu %}" >Back to Admin</a>{% endblock %}

{% block page_content %}
<page_title>Account Information</page_title>

<form action="{% url accounts:save_account_info %}" class="edit_mode_off account_info_form" id="basic_info_form"  method="POST">{% csrf_token %}
{% with "Edit Account" as edit_label %}
	{% include "people/_save_status_and_button.html" %}
{% endwith %}

{% if not request.account.is_active %}
	<div class="expired_message">
	{% if request.account.is_expired %}
	Looks like your account is past its free trial, and has expired. To keep using GoodCloud, please enter your billing information below. Thanks!
	{% else %}
	{% if request.account.has_billing_issue %}
		There's been a problem processing your billing method. Please update it using the link below. Thanks!
	{% else %}
	{% if request.account.is_cancelled %}
	Your account has been cancelled. To keep using GoodCloud, you'll need to reactivate your subscription below. Thanks!
	{% endif %}{% endif %}{% endif %}
	<br/>
	- The GoodCloud Team
	</div>
{% endif %}




<form_field>
<label>Organization Name:</label>{% generic_editable_field form.name %}
</form_field>

<form_field>
<label>Plan:</label>Monthly
</form_field>

<form_field>
<label>Status:</label> {{request.account.get_status_display}}
</form_field>

<form_field>
<label>Signup Date:</label> {{request.account.signup_date|date}}
</form_field>

{% if request.account.has_subscription %}
<form_field>
<label>Billing Information:</label>XXXX-XXXX-XXXX-{{request.account.chargify_last_four}} <a href="{{request.account.chargify_manage_url}}" class="billing_popup_link">Change Billing Information</a>
</form_field>

<form_field>
<label>Subscription:</label>
	Subscriber since: {{request.account.chargify_activated_at|date}}<br/>
	Last billing date: {{request.account.last_billing_date|date}}<br/>
	{% if request.account.chargify_cancel_at_end_of_period %}
	Account cancelled, paid and active until {{request.account.chargify_next_assessment_at|date}}
	{% else %}
	Next billing date: {{request.account.chargify_next_assessment_at|date}}<br/>
	{% endif %}

</form_field>

<form_field>
<label>Cancel Subscription:</label><a href="{% url accounts:cancel_subscription %}" class="cancel_subscription_btn mycelium_small_btn mycelium_btn mycelium_grey">Cancel</a></form_field>
	
{% else %}
<form_field>
<label>Billing Information:</label>
	{% if request.account.cancelled_subscription %}
	<a href="{% url accounts:reactivate_subscription %}" class="reactivate_subscription_btn mycelium_btn mycelium_small_btn" >Reactivate Subscription</a>
	{% else %}
	<a href="{{request.account.chargify_signup_url}}&email={{request.useraccount.user.email|urlencode}}&first_name={{request.useraccount.user.first_name}}" class="billing_popup_link mycelium_btn mycelium_small_btn">Enter Billing Information</a>
	{% endif %}
</form_field>
 {% endif %}


</form>
{% endblock %}