{% extends "mycelium_base.html" %}
{% load i18n i18n generic_fields friendly_data_formatting generic_tag_tags %}
{% block title %}More Tools - Data Import, Account Settings, and more{% endblock %}
{% block css %}{{block.super}}
{% generic_field_css %}

{% css "/css/manage_accounts.css" %}
{% endblock %}
{% block javascript %}{{block.super}}

{% js "/js/mycelium/manage_accounts.js" %}
{% endblock %}

{% block breadcrumb_links %}<a href="{% url core:more_menu %}" >Back to Admin</a>{% endblock %}

{% block page_content %}
<page_title>Account Information</page_title>

<form action="{% url accounts:save_account_info %}" class="edit_mode_off account_info_form" id="basic_info_form"  method="POST">{% csrf_token %}
{% with "Edit Account" as edit_label %}
	{% include "people/_save_status_and_button.html" %}
{% endwith %}

<form_field>
<label>Organization Name:</label>{% generic_editable_field form.name %}
</form_field>

<form_field>
<label>Plan:</label>Monthly  (With discount)
</form_field>

Links <a href="https://goodcloud.chargify.com/h/42689/subscriptions/new?organization={{request.account.name|urlencode}}&reference={{request.account.pk}}&email={{request.useraccount.user.email|urlencode}}&first_name={{request.useraccount.user.first_name}}" target="_blank">Signup</a>

Modify <a href="https://goodcloud.chargify.com/h/42689/subscriptions/new">Signup</a>
<form_field>
<label>Billing:</label>**** **** **** 1234  <a href="https://goodcloud.chargify.com/update_payment/{{request.account.pk}}"
</form_field>

{# <div class="coming_soon">Billing Information coming soon!</div> #}

</form>
{% endblock %}