{% load i18n generic_fields friendly_data_formatting humanize generic_tag_tags %}
<tab_contents class="people_groups_tab">
<table class="two_column_70_30">
<tr>
<td class="column_1 groups_list">
<div class="detail_header">Groups</div>
	{# {% render_tags_as_checklist person tag_view_obj %} #}
</div>
</td>
<td class="column_2 smart_groups_list">
<div class="smart_groups">
	<div class="detail_header">Smart Groups</div>
	<div class="section_details">
		<div class="tab_content_coming_soon">Coming soon!</div>
		<div class="explanation">Smart Groups are coming next week, and will allow you to group people automatically by criteria.</div>
	</div>
</div>
</td>
</tr>
</table>
</tab_contents>