{% extends "groups/base.html" %}
{% block title %}Groups - Search{% endblock %}
{% block breadcrumb %}{% endblock %}
{% block javascript %}{{block.super}}
<script type="text/javascript" charset="utf-8">
	var SEARCH_URL = "{% url groups:search_results %}";
</script>
{% js "/js/mycelium/people_search.js" %}
{% endblock %}
{% block page_content %}
<div class="main_search_box">
	<input type="search" name="search_query" id="id_search_query" placeholder="Search for a group..." autofocus />
</div>
<new_object_buttons>
	<a href="{% url groups:new_group %}" class="new_group_btn mycelium_btn mycelium_new_btn">New Group</a>
</new_object_buttons>
<search_results><fragment name="main_search_results" action="replace">
	{% include "groups/_search_results.html" %}
</fragment>
</search_results>
{% endblock %}