{% extends "generic_tags/base.html" %}
{% load i18n generic_fields friendly_data_formatting generic_tag_tags humanize %}
{% block title %}Manage Tags{% endblock %}
{% block extra_body %}class="manage_tags"{% endblock %}
{% block css %}{{block.super}}
{% generic_field_css %}
{% endblock %}
{% block javascript %}{{block.super}}
{% generic_tags_js %}
{% compress js %}
<script src="{{STATIC_URL}}js/mycelium/people_common.js"></script>
<script src="{{STATIC_URL}}js/mycelium/manage_tags.js"></script>
{% endcompress %}
<script>
$(function(){

{% for ts in all_tagsets %}{% with forloop.counter as ts_counter %}
manageTags.state.tag_sets.push(manageTags.objects.tagSet("{{ts.name}}", {{ts.order}}, {{ts.pk}}));
{% for t in ts.tag_set.all %}{% with forloop.counter as tag_counter %}manageTags.state.tag_sets[{{ts_counter|add:-1}}].tags.push(manageTags.objects.tag(manageTags.state.tag_sets[{{ts_counter|add:-1}}], "{{t.name}}", {{t.order}}, {{t.num_members}}, {{t.pk}}));
{% endwith %}{% endfor %}{% endwith %}{% endfor %}
// {{request.is_secure}}
manageTags.encyclopedia.urls.save_tags_and_tagsets = "{% if request.is_secure %}https://{% else %}http://{% endif %}{{request.get_host}}{% url generic_tags:save_tags_and_tagsets %}";

manageTags.init();
});
</script>
{% endblock %}

{% block breadcrumb %}{% endblock %}
{% block page_content %}
<page_title>Manage Tags</page_title>
<instructions>Changes will auto-save.  Drag and drop to reorder.</instructions>
<form action="{% url generic_tags:save_tags_and_tagsets %}" class="edit_mode_on" method="POST">{% csrf_token %}
	<save_status_and_button>
	<a href="#" class="mycelium_btn save_and_status_btn mycelium_grey" >Saved</a>
	<span class="save_info">
		<span class="last_save_time"></span>
	</span>
	</save_status_and_button>

	<tagsets>
	</tagsets>

	<form_actions>
		<a href="#" class="mycelium_btn add_a_category_btn">Add a Category</a>
	</form_actions>

</fragment>
</form>
{% endblock %}