{% extends "generic_tags/base.html" %}
{% load i18n generic_fields friendly_data_formatting generic_tag_tags %}
{% block title %}Manage Tags and Tag Categories{% endblock %}
{% block css %}{{block.super}}
{% generic_field_css %}
{% endblock %}
{% block javascript %}{{block.super}}
{% generic_tags_js %}
{% js "/js/mycelium/manage_tags.js" %}
{% endblock %}


{% block page_content %}
<form action="" class="edit_mode_off" id="basic_info_form" method="POST">{% csrf_token %}
{% with "Edit Tags" as edit_label %}
	{# {% include "people/_save_status_and_button.html" %} #}

{% endwith %}
Tags and Tag Categories
</form>
{% endblock %}