{% extends "marketing_site/base.html" %}
{% load i18n generic_fields friendly_data_formatting  %}
{% block title %}News from around the nonprofit world with The GoodCloud Times!{% endblock %}
{% block description %}Our monthly newsletter keeps you up-to-date on the latest news in the nonprofit sector - and throws in a great recipe to boot!{% endblock %}
{% block page_header %}Real people, real voices.{% endblock %}

{% block page_content %}
<div id="section" class=" features">
	<ul class="nav_links png_bg">
	 	<li class="ui-tabs-selected ui-state-active"><a href="{% url marketing_site:newsletter %}">Newsletter</a></li>
	 	<li><a href="{% url blog %}">Blog</a></li>
 	</ul>

	<div class="tab_content" id="video_tour">
			<div class="page_top_hook">&lt; back  - August 2011 &gt;</div>

			<div class="goodcloud_times">
				<div class="title">The GoodCloud Times</div>
				

				<div class="headliner_article">
				<div class="article_title">Don't Let Your Knowledge Leave Because of Nonprofit Turnover</div>
				<div class="article_teaser">
				<p>Earlier this week, the Meyer Foundation and CompassPoint released a study showing that two-thirds of the nonprofit Executive Directors they surveyed were planning on leaving their current job within five years.  Among the reasons that leaders cited for leaving were financial problems, under-performing boards, and a burdensome time commitment.  </p>

				<p>Those reasons aren’t exactly eye-opening revelations for most that have experience in the nonprofit world.  Still, that 67% number is significant.  Turnover is a major issue that all organizations have to overcome, but its effect seems to be amplified for nonprofits, especially those with small staff size and limited resources.</p>
				<a href="#">Read full article</a>
				</div>

				

			Subscribe to the GoodCloud Times

			Read past issues:

			Latest Issue - August, 2011

	</div>
	</div>	



{% endblock %}