{% extends "import/base.html" %}
{% load humanize %}
{% block title %}Data Import - Start a New Data Import{% endblock %}
{% block javascript %}{{block.super}}
<script type="text/javascript" charset="utf-8">

</script>
{% endblock %}
{% block page_content %}
<breadcrumb><a class="mycelium_btn" href="{% url import:list %}">Back to All Data Imports</a></breadcrumb>
<page_title>Start Data Import</page_title>
<div class="easy_header">Importing data is three easy steps:</div>
<div class="start_data_import">
<step>
	<step_number>1</step_number>
	<instruction>Choose a CSV Spreadsheet</instruction>
	<step_content>	
	<form class="upload_form">
		<input type="file" name="import_csv">
		<input type="button" class="mycelium_btn" value="Next Step">
	</form>
	</step_content>
</step>

<step>
	<step_number>2</step_number>
	<instruction>Confirm the fields you want to import</instruction>
	<step_content>
	<table class="striped record_table import_fields_confirmation">
		<tr>
			<th>{% with "id" as opt  %}{% include "import/_dropdown_options.html" %}{% endwith %}</th>
			<th>{% with "first_name" as opt  %}{% include "import/_dropdown_options.html" %}{% endwith %}</th>
			<th>{% with "last_name" as opt  %}{% include "import/_dropdown_options.html" %}{% endwith %}</th>
			<th>{% with "email" as opt  %}{% include "import/_dropdown_options.html" %}{% endwith %}</th>
			<th>{% with "birthday" as opt  %}{% include "import/_dropdown_options.html" %}{% endwith %}</th>
			<th>{% include "import/_dropdown_options.html" %}</th>
		</tr>
		{% with people|slice:"5" as five_people %}
		{% for p in five_people %}
		<tr>
			<td class="col_1">{{p.pk}}</td>
			<td class="col_2">{{p.first_name}}</td>
			<td class="col_3">{{p.last_name}}</td>
			<td class="col_4">{{p.primary_email}}</td>
			<td class="col_5">{{birthdates|random|date}}</td>
			<td class="col_6">{{ages|random}}</td>
		</tr>
		{% endfor %}
		{% endwith %}
	</table>
	</step_content>
</step>

<step>
	<step_number>3</step_number>
	<instruction>Click Import, and give the GoodCloud robots a minute!</instruction>
	<step_content>	
	<a href="#" class="mycelium_btn">Start Import</a>
	</step_content>
</step>
</div>
{% endblock %}