{% load humanize %}
<column_content>
<div class="number_row total_donors">
	<number>{{total_donations.donor__count|floatformat:0|intcomma}}</number>
	<description>donors this year</description>
</div>

<div class="number_row total_donations">
	<number>$ {{total_donation_amount.amount__sum|floatformat:0|intcomma}}</number>
	<description>donations this year</description>
</div>

<div class="number_row total_volunteer_hours">
	<number>{{total_volunteer_hours.duration__sum|floatformat:0|intcomma}}</number>
	<description>volunteer hours</description>
</div>

<div class="number_row total_people">
	<number>{{total_people|intcomma}}</number>
	<description>people</description>
</div>

<div class="number_row total_orgs">
	<number>{{total_orgs|intcomma}}</number>
	<description>organizations</description>
</div>

<div class="number_row total_groups">
	<number>{{total_groups|intcomma}}</number>
	<description>groups</description>
</div>

<div class="number_row total_tags">
	<number>{{total_tags|intcomma}}</number>
	<description>tags</description>
</div>
</column_content>