{% extends "flight_control/base.html" %}
{% load i18n flip_clock humanize pagination_tags %}
{% block title %}Dashboard for {{account.name}}{% endblock %}

{% block page_content %}

<div class="container">
	<div class="row">
		<span class="name_and_info ninecol">
			<div class="name">{{account.name}}</div>
			<div class="url">{{account.subdomain}}.agoodcloud.com</div>
		</span>
		<span class="active threecol">
			{% flip_clock account.age_in_months "Months"  %}
		</span>
	</div>
</div>

<div class="container info_columns">
	<div class="row">
		<column class="fourcol billing_issues">
			<column_header>Users</column_header>
			<table class="info_block">
			{% with account.useraccount_set.all as users %}
			{% autopaginate users 15 %}
			{% for u in users %}
			<tr class="account_info_block">
				<td>{{u.full_name}}</td>
				<td>{{u.denamespaced_username}}</td>
				<td><a href="mailto:{{u.user.email}}">Email</a></td>
			</div>
			{% endfor %}
			</table>
			{% paginate %}
			{% endwith %}
			<column_header>Billing</column_header>
			<div class="info_block">
				Status: {{account.get_status_display}}
			</div>
			<div class="info_block">
				Signup Date: {{account.signup_date|date}}
			</div>
			<div class="info_block">
				Last Billed: {{account.last_billing_date|date}}
			</div>
			<div class="info_block">
				Next Billed: {{account.chargify_next_assessment_at|date}}
			</div>
			<div class="info_block">
				Account Balance: ${{account.chargify_balance|floatformat:2|intcomma}}
			</div>
			<div class="info_block">
				<a href="{{account.chargify_subscription_url}}" target="_blank">Chargify Subscription</a>
			</div>
			<column_header>Challenges</column_header>
			<challenge class="info_block import {% if account.challenge_has_imported_contacts %}complete{% endif %}">
				<title_text>Import your contacts.</title_text>
			</challenge>
			<challenge class="info_block volunteer {% if account.challenge_has_logged_volunteer_hours %}complete{% endif %}">
				<title_text>Track volunteer hours.</title_text>
			</challenge>
			<challenge class="info_block donation {% if account.challenge_has_added_a_donation %}complete{% endif %}">
				<title_text>Add your donations.</title_text>
			</challenge>
			<challenge class="info_block board {% if account.challenge_has_added_board %}complete{% endif %}">
				<title_text>Add your board.</title_text>
			</challenge>		
			<challenge class="info_block tags {% if account.challenge_has_set_up_tags %}complete{% endif %}">
				<title_text>Set up your tags.</title_text>
			</challenge>
			<challenge class="info_block spreadsheet {% if account.challenge_has_downloaded_spreadsheet %}complete{% endif %}">
				<title_text>Download a spreadsheet.</title_text>
			</challenge>
			<challenge class="info_block user {% if account.challenge_has_created_other_accounts %}complete{% endif %}">
				<title_text>Share the love - Get everyone else onboard!</title_text>
			</challenge>
		</column>
		<column class="fourcol recent_activity">
			<column_header>Recent Logins</column_header>
			{% for u in recent_users %}
			<div class="info_block">
				{{u.user.last_login|date}} - {{u.full_name}} 
			</div>
		 	{% endfor %}
			<column_header>Recent Activity</column_header>
			<div class="empty_message info_block">
				Still working on the activity tracker.
			</div>
			<!--
			<div class="info_block">
				Steven Skoczen with <a href="#">Account Name</a> edited a person. <span class="when">15 minutes ago</span>
			</div>
			<div class="info_block">
				Steven Skoczen with <a href="#">Account Name</a> created a group. <span class="when">22 minutes ago</span>
			</div>
			<div class="info_block">
				Tom Noble with <a href="#">Account Name</a> imported a spreadsheet. <span class="when">47 minutes ago</span>
			</div>
			-->
		</column>
		<column class="fourcol averages">
			
			<column_header>Totals &amp; Averages</column_header>
			<average class="info_block number_row num_people">
				<number>{{account.num_people|floatformat:0|intcomma}}</number>
				<description>People</description>
			</average>

			<average class="info_block number_row num_orgs">
				<number>{{account.num_organizations|floatformat:0|intcomma}}</number>
				<description>Organizations</description>
			</average>

			<average class="info_block number_row num_donations">
				<number>{{account.num_donations|floatformat:0|intcomma}}</number>
				<description>Donations</description>
			</average>
			<average class="info_block number_row avg_donation">
				<number>${{account.avg_donation|floatformat:2|intcomma}}</number>
				<description>Per Donation</description>
			</average>
			<average class="info_block number_row num_hours">
				<number>{{account.num_volunteer_hours|floatformat:0|intcomma}}</number>
				<description>Volunteer Hours</description>
			</average>
			<average class="info_block number_row avg_hours_per_person">
				<number>{{account.avg_vol_hours_per_person|floatformat:1|intcomma}}</number>
				<description>Volunteer Hours per person</description>
			</average>
			
			<average class="info_block number_row num_tags">
				<number>{{account.num_tags|floatformat:0|intcomma}}</number>
				<description>Tags</description>
			</average>
			<average class="info_block number_row avg_tags_per_person">
				<number>{{account.avg_tags_per_person|floatformat:1|intcomma}}</number>
				<description>Tags per Person</description>
			</average>
			<average class="info_block number_row num_groups">
				<number>{{account.num_groups|floatformat:1|intcomma}}</number>
				<description>Groups</description>
			</average>
			<average class="info_block number_row num_spreadsheets">
				<number>{{account.num_spreadsheets|floatformat:1|intcomma}}</number>
				<description>Spreadsheets</description>
			</average>
		</column>
	</div>
</div>


{% endblock %}