{% extends "base.html" %}
{% block css %}{{block.super}}
{% compress css %}
	<link rel="stylesheet" href="{{STATIC_URL}}css/style.css" type="text/css" media="screen, projection"/>
	<link rel="stylesheet" href="{{STATIC_URL}}css/main.css" type="text/css" media="screen, projection"/>
	<link rel="stylesheet" href="{{STATIC_URL}}css/contrib/jquery-ui-1.8.10.custom.css" type="text/css" media="screen, projection"/>
	<link rel="stylesheet" href="{{STATIC_URL}}css/mycelium_elements.css" type="text/css" media="screen, projection"/>
	<link rel="stylesheet" href="{{STATIC_URL}}css/contrib/fileuploader.css" type="text/css" media="screen, projection"/>
	<link rel="stylesheet" href="{{STATIC_URL}}css/contrib/colorbox.css" type="text/css" media="screen, projection"/>
	<link rel="stylesheet" href="{{STATIC_URL}}css/flight_control.css" type="text/css" media="screen, projection"/>
{% endcompress %}
{% endblock %}
{% block base_js %}{{block.super}}
{% compress js %}
	<script src="{{STATIC_URL}}js/contrib/jquery.autogrow.js"></script>
	<script src="{{STATIC_URL}}js/contrib/jquery.autogrow.textarea.js"></script>
	<script src="{{STATIC_URL}}js/contrib/jquery.ba-bbq.min.js"></script>
	<script src="{{STATIC_URL}}js/contrib/jquery.scrollTo-min.js"></script>
	<script src="{{STATIC_URL}}js/contrib/jquery.toggleval.js"></script>
	<script src="{{STATIC_URL}}js/contrib/jquery.hotkeys-0.7.9.min.js"></script>
	<script src="{{STATIC_URL}}js/contrib/jquery.ajax.queue.js"></script>
	<script src="{{STATIC_URL}}js/contrib/jquery.form.js"></script>
	<script src="{{STATIC_URL}}js/mycelium/mycelium_search.js"></script>
	<script src="{{STATIC_URL}}js/lib/fileuploader.mycelium.js"></script>
{% endcompress %}
{% endblock %}
{% block javascript %}{{block.super}}
	<script>
	var GLOBAL_SEARCH_URL = "{% url flight_control:search_results %}";
	</script>
{% compress js %}
	<script src="{{STATIC_URL}}js/mycelium/mycelium_elements.js"></script>
	<script src="{{STATIC_URL}}js/mycelium/mycelium_top_search.js"></script>
	<script src="{{STATIC_URL}}js/mycelium/mycelium_common.js"></script>
	<script src="{{STATIC_URL}}js/mycelium/flight_control.js"></script>
{% endcompress %}

{% endblock %}
{% block content %}
	{% block nav %}
	<main_nav>
		<a href="{% url flight_control:home %}" class="logo">
			<span class="account_name"><p>GoodCloud Flight Control</p></span>
		</a>

		<input type="search" id="global_search" name="global_search" placeholder="Search for an account..." />
	</main_nav>
	<div id="global_search_results"><fragment name="global_search_results" action="replace"></fragment></div>

	
	{% endblock %}
	
	{% block page %}
	<main_content>
	<div id="page">
	{# {% block breadcrumb %}<div class="breadcrumb_container"><breadcrumb>{% block breadcrumb_links %}{% endblock %}</breadcrumb></div>{% endblock %} #}
	{% block page_content %}
	
	{% endblock %}
	</div>
	</main_content>
	{% endblock %}
{% endblock %}