{% extends "flight_control/base.html" %}
{% load i18n flip_clock %}
{% block title %}Dashboard{% endblock %}
{% block css %}{{block.super}}
{% css "/css/contrib/1140/1140.css" %}
{% css "/css/flight_control.css" %}
{% endblock %}
{% block javascript %}{{block.super}}
{% js "/js/mycelium/flight_control.js" %}
{% endblock %}

{% block breadcrumb %}{% endblock %}
{% block page_content %}

<div class="container">
	<div class="row">
		<span class="active threecol">
			{% flip_clock 102 "Active" %}
		</span>

		<span class="billing twocol">
			<span class="bad">
				{% flip_clock 2 "Bill Issue"  %}
			</span>
		</span>

		<span class="free_trial sevencol">
			{% flip_clock 2 "Trial Week 1"  %}
			{% flip_clock 7 "Trial Week 2"  %}
			{% flip_clock 32 "Trial Week 3"  %}
			{% flip_clock 12 "Trial Week 4"  %}
		</span>
	</div>
</div>

<div class="container info_columns">
	<div class="row">
		<column class="fourcol billing_issues">
			<column_header>Billing Issues</column_header>
			<div class="account_info_block">
				<a href="#">Account Name</a> is past due.
			</div>
			<div class="account_info_block">
				<a href="#">Another Account Name</a> is past due.
			</div>
		</column>
		<column class="fourcol recent_activity">
			<column_header>Recent Activity</column_header>
			<div class="activity_block">
				Steven Skoczen with <a href="#">Account Name</a> edited a person. <span class="when">15 minutes ago</span>
			</div>
			<div class="activity_block">
				Steven Skoczen with <a href="#">Account Name</a> created a group. <span class="when">22 minutes ago</span>
			</div>
			<div class="activity_block">
				Tom Noble with <a href="#">Account Name</a> imported a spreadsheet. <span class="when">47 minutes ago</span>
			</div>

		</column>
		<column class="fourcol averages">
			<column_header>Averages</column_header>

			<average>
				<number>52</number>
				<caption>People/acct</caption>
			</average>

			<average>
				<number>21</number>
				<caption>Orgs/acct</caption>
			</average>
		</column>
	</div>
</div>


{% endblock %}