{% extends "flight_control/base.html" %}
{% load i18n flip_clock %}
{% block title %}Dashboard{% endblock %}
{% block css %}{{block.super}}
{% css "/css/contrib/1140/1140.css" %}
{% css "/css/flight_control.css" %}
{% endblock %}
{% block javascript %}{{block.super}}
{% js "/js/mycelium/flight_control.js" %}
{% endblock %}

{% block breadcrumb %}{% endblock %}
{% block page_content %}

<div class="container">
	<div class="row">
		<span class="active threecol">
			{% flip_clock active_account_count "Active" %}
		</span>

		<span class="billing twocol">
			<span class="{% if problem_accounts.count > 0 %}bad{% else %}good{% endif %}">
				{% flip_clock problem_accounts.count "Bill Issue"  %}
			</span>
		</span>

		<span class="free_trial sevencol">
			{% flip_clock week_1 "Trial Week 1"  %}
			{% flip_clock week_2 "Trial Week 2"  %}
			{% flip_clock week_3 "Trial Week 3"  %}
			{% flip_clock week_4 "Trial Week 4"  %}
		</span>
	</div>
</div>
<div class="container twitter_feed">
	<div class="row">
		<column class="twelvecol"></column>
	</div>
</div>


<div class="container info_columns">
	<div class="row">
		<column class="fourcol billing_issues">
			<column_header>Billing Issues</column_header>
			{% for a in problem_accounts %}
			<div class="account_info_block">
				<a href="{% url flight_control:account a.pk %}">{{a.name}}</a> is {{a.get_status_display}}.
			</div>
			{% empty %}
			<div class="empty_message">No accounts with billing issues! Hooray!</div>
			{% endfor %}
		</column>
		<column class="fourcol recent_activity">
			<column_header>Recent Activity</column_header>
			<div class="activity_block">
				Steven Skoczen with <a href="#">Account Name</a> edited a person. <span class="when">15 minutes ago</span>
			</div>
			<div class="activity_block">
				Steven Skoczen with <a href="#">Account Name</a> created a group. <span class="when">22 minutes ago</span>
			</div>
			<div class="activity_block">
				Tom Noble with <a href="#">Account Name</a> imported a spreadsheet. <span class="when">47 minutes ago</span>
			</div>
		</column>
		<column class="fourcol averages">
			<column_header>Averages</column_header>

			<average>
				<number>52</number>
				<caption>People</caption>
			</average>

			<average>
				<number>21</number>
				<caption>Organization</caption>
			</average>

			<average>
				<number>21</number>
				<caption>Donations</caption>
			</average>
			<average>
				<number>21</number>
				<caption>per Donation</caption>
			</average>
			<average>
				<number>21</number>
				<caption>Vol Hours</caption>
			</average>
			<average>
				<number>21</number>
				<caption>Tags</caption>
			</average>
			<average>
				<number>21</number>
				<caption>Tags per Person</caption>
			</average>
			<average>
				<number>21</number>
				<caption>Spreadsheets</caption>
			</average>
		</column>
	</div>
</div>


{% endblock %}